In [25]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [26]:
df = pd.read_csv('data/W4P3_COD_V2.0.csv')
df

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007
...,...,...,...,...,...,...
201757,Digestive diseases,Deaths - Digestive diseases - Sex: Both - Age:...,4437.0,Zimbabwe,ZWE,2019
201758,Acute hepatitis,Deaths - Acute hepatitis - Sex: Both - Age: Al...,136.0,Zimbabwe,ZWE,2019
201759,Alzheimer's disease and other dementias,Deaths - Alzheimer's disease and other dementi...,812.0,Zimbabwe,ZWE,2019
201760,Parkinson's disease,Deaths - Parkinson's disease - Sex: Both - Age...,232.0,Zimbabwe,ZWE,2019
201761,Number of executions (Amnesty International),Deaths - Number of executions (Amnesty Interna...,NaN,Zimbabwe,ZWE,2019

In [27]:
df = pd.read_csv('data/W4P3_ND.csv')
df.head(5)

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [28]:
yr5_df = pd.read_csv('data/nd-0-5-year-olds.csv')
yr5_df.head(5)

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,Afghanistan,AFG,1991,55,130,1822,741,439,8669,495,...,7574,2385,4650,129,781,800,12,748,41,132
2,Afghanistan,AFG,1992,68,155,2069,836,486,8539,554,...,8614,2370,5833,137,821,863,13,777,51,180
3,Afghanistan,AFG,1993,78,178,2427,970,549,8949,630,...,9458,2659,7800,155,923,979,16,872,24,239
4,Afghanistan,AFG,1994,83,194,2649,1063,589,10642,681,...,9823,3187,7894,170,1015,1064,19,961,52,259

In [29]:
yr15_49_df = pd.read_csv('data/nd-15-49-year-olds.csv')
yr15_49_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number),Deaths - Drowning - Sex: Both - Age: 15-49 years (Number),Deaths - Malaria - Sex: Both - Age: 15-49 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number),Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number),Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 15-49 years (Number),Deaths - Parkinson's disease - Sex: Both - Age: 15-49 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)
0,Afghanistan,AFG,1990,482,1126,234,46,86,2078,731,...,131,0,73,42,2033,1208,15,5,10,553
1,Afghanistan,AFG,1991,535,1510,262,94,94,2183,773,...,143,543,52,46,2317,1289,19,5,10,595
2,Afghanistan,AFG,1992,634,1782,311,125,109,2386,853,...,165,266,27,54,2814,1446,24,5,10,671
3,Afghanistan,AFG,1993,716,2038,350,58,121,2544,917,...,184,103,31,77,3204,1575,28,5,10,737
4,Afghanistan,AFG,1994,759,2260,365,110,126,2615,948,...,194,73,33,64,3385,1653,32,5,11,776

In [30]:

yr5_14_df = pd.read_csv('data/nd-5-14-year-olds.csv')
yr5_14_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 5-14 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 5-14 years (Number),Deaths - Drowning - Sex: Both - Age: 5-14 years (Number),Deaths - Malaria - Sex: Both - Age: 5-14 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 5-14 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 5-14 years (Number),...,Deaths - Nutritional deficiencies - Sex: Both - Age: 5-14 years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 5-14 years (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: 5-14 years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 5-14 years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 5-14 years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number),Deaths - Road injuries - Sex: Both - Age: 5-14 years (Number),Deaths - Tuberculosis - Sex: Both - Age: 5-14 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 5-14 years (Number)
0,Afghanistan,AFG,1990,12,65,290,3,27,278,119,...,103,11,99,0,2,27,511,160,0,103
1,Afghanistan,AFG,1991,12,80,311,6,30,299,129,...,111,12,108,277,2,30,552,170,0,112
2,Afghanistan,AFG,1992,14,88,356,8,34,341,147,...,128,14,124,120,1,34,633,191,0,129
3,Afghanistan,AFG,1993,15,97,393,3,38,373,162,...,142,15,138,42,1,60,695,205,1,143
4,Afghanistan,AFG,1994,15,105,410,7,39,385,170,...,150,16,145,29,1,42,721,209,1,150

In [31]:
yr50_69_df = pd.read_csv('data/nd-50-69-year-olds.csv')
yr50_69_df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 50-69 years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 50-69 years (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Drug use disorders - Sex: Both - Age: 50-69 years (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: 50-69 years (Number),Deaths - Alcohol use disorders - Sex: Both - Age: 50-69 years (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 50-69 years (Number),...,Deaths - Parkinson's disease - Sex: Both - Age: 50-69 years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 50-69 years (Number),Deaths - Malaria - Sex: Both - Age: 50-69 years (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: 50-69 years (Number)",Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Digestive diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: 50-69 years (Number),Deaths - Chronic kidney disease - Sex: Both - Age: 50-69 years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 50-69 years (Number)
0,Afghanistan,AFG,1990,167,208,20666,23,49,28,932,...,100,1232,19,54,5446,1992,1233,2453,1534,1100
1,Afghanistan,AFG,1991,168,242,20840,24,50,28,941,...,100,1255,38,55,5493,2012,1247,2481,1527,1100
2,Afghanistan,AFG,1992,171,235,21174,25,52,28,956,...,102,1287,44,56,5577,2043,1268,2526,1521,1107
3,Afghanistan,AFG,1993,176,237,21699,26,55,29,979,...,104,1333,17,57,5679,2082,1293,2594,1529,1122
4,Afghanistan,AFG,1994,180,249,22273,28,58,29,1003,...,105,1385,33,58,5771,2121,1315,2672,1545,1140

In [32]:
yr70__df = pd.read_csv('data/nd-70-year-olds.csv')
yr70__df.head(5)

,Entity,Code,Year,Deaths - Self-harm - Sex: Both - Age: 70+ years (Number),Deaths - Interpersonal violence - Sex: Both - Age: 70+ years (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: 70+ years (Number),Deaths - Drowning - Sex: Both - Age: 70+ years (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: 70+ years (Number),Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number),Deaths - Road injuries - Sex: Both - Age: 70+ years (Number),...,Deaths - Chronic respiratory diseases - Sex: Both - Age: 70+ years (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 70+ years (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: 70+ years (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: 70+ years (Number),Deaths - Drug use disorders - Sex: Both - Age: 70+ years (Number),Deaths - Alcohol use disorders - Sex: Both - Age: 70+ years (Number),Deaths - Lower respiratory infections - Sex: Both - Age: 70+ years (Number),Deaths - Diabetes mellitus - Sex: Both - Age: 70+ years (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: 70+ years (Number),Deaths - Acute hepatitis - Sex: Both - Age: 70+ years (Number)
0,Afghanistan,AFG,1990,35,33,0,14,20,140,169,...,2680,973,18600,21,7,6,1559,730,16,378
1,Afghanistan,AFG,1991,35,39,101,14,12,142,173,...,2718,991,18820,22,8,6,1576,729,16,389
2,Afghanistan,AFG,1992,36,38,40,14,2,142,177,...,2762,1013,19109,23,8,6,1595,730,17,401
3,Afghanistan,AFG,1993,37,39,13,15,2,162,182,...,2835,1036,19565,24,8,6,1628,736,18,419
4,Afghanistan,AFG,1994,38,41,9,15,2,151,187,...,2924,1058,20084,25,9,6,1668,744,19,441

In [33]:
print('sdf'); print('slkdjf')

sdf
slkdjf

In [34]:
age_grp_df.isnull().sum()

Entity                                                           0
Code                                                           690
Year                                                             0
Deaths - All causes - Sex: Both - Age: 70+ years (Number)        0
Deaths - All causes - Sex: Both - Age: 50-69 years (Number)      0
Deaths - All causes - Sex: Both - Age: 15-49 years (Number)      0
Deaths - All causes - Sex: Both - Age: 5-14 years (Number)       0
Deaths - All causes - Sex: Both - Age: Under 5 (Number)          0
dtype: int64

In [35]:
age_grp_df = pd.read_csv('data/nd-age-group.csv')
age_grp_df.head(5)
age_grp_df.rename(columns=
       'Deaths - All causes - Sex: Both - Age: 70+ years (Number)': '70+ years',
       'Deaths - All causes - Sex: Both - Age: 50-69 years (Number)': '50-69 years',
       'Deaths - All causes - Sex: Both - Age: 15-49 years (Number)': '15-49 years',
       'Deaths - All causes - Sex: Both - Age: 5-14 years (Number)': '5-14 years',
       'Deaths - All causes - Sex: Both - Age: Under 5 (Number)': "0-5 years")
age_grp_df.head(5)

SyntaxError: invalid syntax (2019282451.py, line 4)

In [10]:
risk_df = pd.read_csv('data/nd-risk-factor.csv')
risk_df.head(5)

        Entity Code  Year  \
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993

   Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)  \
0                                                 48
1                                                 55
2                                                 68
3                                                 78

   Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)  \
0                                                105
1                                                130
2                                                155
3                                                178

   Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)  \
0                                               1779
1                                               1822
2                                               2069
3                                               2427

   Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)  \
0                                                718
1                                                741
2                                                836
3                                                970

   Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)  \
0                                                431
1                                                439
2                                                486
3                                                549

   Deaths - Measles - Sex: Both - Age: Under 5 (Number)  \
0                                               8649
1                                               8669
2                                               8539
3                                               8949

   Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)  ...  \
0                                                477                ...
1                                                495                ...
2                                                554                ...
3                                                630                ...

   Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)  \
0                                               7112
1                                               7574
2                                               8614
3                                               9458

   Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)  \
0                                               2455
1                                               2385
2                                               2370
3                                               2659

   Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)  \
0                                               3968
1                                               4650
2                                               5833
3                                               7800

   Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)  \
0                                                131
1                                                129
2                                                137
3                                                155

   Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)  \
0                                                802
1                                                781
2                                                821
3                                                923

   Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)  \
0                                                808
1                                                800
2                                                863
3                                                979

   Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)  \
0                                                 10
1                                                 12
2                                                 13
3                                                 16

   Deaths - Drowning - Sex: Both - Age: Under 5 (Number)  \
0                                                776
1                                                748
2                                                777
3                                                872

   Deaths - Malaria - Sex: Both - Age: Under 5 (Number)  \
0                                                 21
1                                                 41
2                                                 51
3                                                 24

   Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0                                                123
1                                                132
2                                                180
3                                                239

[4 rows x 32 columns]
        Entity Code  Year  \
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993

   Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number)  \
0                                                482
1                                                535
2                                                634
3                                                716

   Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number)  \
0                                               1126
1                                               1510
2                                               1782
3                                               2038

   Deaths - Drowning - Sex: Both - Age: 15-49 years (Number)  \
0                                                234
1                                                262
2                                                311
3                                                350

   Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)  \
0                                                 46
1                                                 94
2                                                125
3                                                 58

   Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)  \
0                                                 86
1                                                 94
2                                                109
3                                                121

   Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)  \
0                                               2078
1                                               2183
2                                               2386
3                                               2544

   Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number)  ...  \
0                                                731                    ...
1                                                773                    ...
2                                                853                    ...
3                                                917                    ...

   Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number)  \
0                                                131
1                                                143
2                                                165
3                                                184

   Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number)  \
0                                                  0
1                                                543
2                                                266
3                                                103

   Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number)  \
0                                                 73
1                                                 52
2                                                 27
3                                                 31

   Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)  \
0                                                 42
1                                                 46
2                                                 54
3                                                 77

   Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number)  \
0                                               2033
1                                               2317
2                                               2814
3                                               3204

   Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number)  \
0                                               1208
1                                               1289
2                                               1446
3                                               1575

   Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number)  \
0                                                 15
1                                                 19
2                                                 24
3                                                 28

   Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: 15-49 years (Number)  \
0                                                  5
1                                                  5
2                                                  5
3                                                  5

   Deaths - Parkinson's disease - Sex: Both - Age: 15-49 years (Number)  \
0                                                 10
1                                                 10
2                                                 10
3                                                 10

   Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)
0                                                553
1                                                595
2                                                671
3                                                737

[4 rows x 29 columns]
        Entity Code  Year  \
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993

   Deaths - Self-harm - Sex: Both - Age: 5-14 years (Number)  \
0                                                 12
1                                                 12
2                                                 14
3                                                 15

   Deaths - Interpersonal violence - Sex: Both - Age: 5-14 years (Number)  \
0                                                 65
1                                                 80
2                                                 88
3                                                 97

   Deaths - Drowning - Sex: Both - Age: 5-14 years (Number)  \
0                                                290
1                                                311
2                                                356
3                                                393

   Deaths - Malaria - Sex: Both - Age: 5-14 years (Number)  \
0                                                  3
1                                                  6
2                                                  8
3                                                  3

   Deaths - Fire, heat, and hot substances - Sex: Both - Age: 5-14 years (Number)  \
0                                                 27
1                                                 30
2                                                 34
3                                                 38

   Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number)  \
0                                                278
1                                                299
2                                                341
3                                                373

   Deaths - Digestive diseases - Sex: Both - Age: 5-14 years (Number)  ...  \
0                                                119                   ...
1                                                129                   ...
2                                                147                   ...
3                                                162                   ...

   Deaths - Nutritional deficiencies - Sex: Both - Age: 5-14 years (Number)  \
0                                                103
1                                                111
2                                                128
3                                                142

   Deaths - Diabetes mellitus - Sex: Both - Age: 5-14 years (Number)  \
0                                                 11
1                                                 12
2                                                 14
3                                                 15

   Deaths - Protein-energy malnutrition - Sex: Both - Age: 5-14 years (Number)  \
0                                                 99
1                                                108
2                                                124
3                                                138

   Deaths - Exposure to forces of nature - Sex: Both - Age: 5-14 years (Number)  \
0                                                  0
1                                                277
2                                                120
3                                                 42

   Deaths - Environmental heat and cold exposure - Sex: Both - Age: 5-14 years (Number)  \
0                                                  2
1                                                  2
2                                                  1
3                                                  1

   Deaths - Diarrheal diseases - Sex: Both - Age: 5-14 years (Number)  \
0                                                 27
1                                                 30
2                                                 34
3                                                 60

   Deaths - Road injuries - Sex: Both - Age: 5-14 years (Number)  \
0                                                511
1                                                552
2                                                633
3                                                695

   Deaths - Tuberculosis - Sex: Both - Age: 5-14 years (Number)  \
0                                                160
1                                                170
2                                                191
3                                                205

   Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Number)  \
0                                                  0
1                                                  0
2                                                  0
3                                                  1

   Deaths - Acute hepatitis - Sex: Both - Age: 5-14 years (Number)
0                                                103
1                                                112
2                                                129
3                                                143

[4 rows x 25 columns]
        Entity Code  Year  \
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993

   Deaths - Self-harm - Sex: Both - Age: 50-69 years (Number)  \
0                                                167
1                                                168
2                                                171
3                                                176

   Deaths - Interpersonal violence - Sex: Both - Age: 50-69 years (Number)  \
0                                                208
1                                                242
2                                                235
3                                                237

   Deaths - Cardiovascular diseases - Sex: Both - Age: 50-69 years (Number)  \
0                                              20666
1                                              20840
2                                              21174
3                                              21699

   Deaths - Drug use disorders - Sex: Both - Age: 50-69 years (Number)  \
0                                                 23
1                                                 24
2                                                 25
3                                                 26

   Deaths - Nutritional deficiencies - Sex: Both - Age: 50-69 years (Number)  \
0                                                 49
1                                                 50
2                                                 52
3                                                 55

   Deaths - Alcohol use disorders - Sex: Both - Age: 50-69 years (Number)  \
0                                                 28
1                                                 28
2                                                 28
3                                                 29

   Deaths - Lower respiratory infections - Sex: Both - Age: 50-69 years (Number)  \
0                                                932
1                                                941
2                                                956
3                                                979

   ...  Deaths - Parkinson's disease - Sex: Both - Age: 50-69 years (Number)  \
0  ...                                                100
1  ...                                                100
2  ...                                                102
3  ...                                                104

   Deaths - Acute hepatitis - Sex: Both - Age: 50-69 years (Number)  \
0                                               1232
1                                               1255
2                                               1287
3                                               1333

   Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)  \
0                                                 19
1                                                 38
2                                                 44
3                                                 17

   Deaths - Fire, heat, and hot substances - Sex: Both - Age: 50-69 years (Number)  \
0                                                 54
1                                                 55
2                                                 56
3                                                 57

   Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)  \
0                                               5446
1                                               5493
2                                               5577
3                                               5679

   Deaths - Digestive diseases - Sex: Both - Age: 50-69 years (Number)  \
0                                               1992
1                                               2012
2                                               2043
3                                               2082

   Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 50-69 years (Number)  \
0                                               1233
1                                               1247
2                                               1268
3                                               1293

   Deaths - Chronic respiratory diseases - Sex: Both - Age: 50-69 years (Number)  \
0                                               2453
1                                               2481
2                                               2526
3                                               2594

   Deaths - Chronic kidney disease - Sex: Both - Age: 50-69 years (Number)  \
0                                               1534
1                                               1527

In [18]:
df = pd.read_csv('data/W4P3_COD_V2.0.csv')
df

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007
...,...,...,...,...,...,...
201757,Digestive diseases,Deaths - Digestive diseases - Sex: Both - Age:...,4437.0,Zimbabwe,ZWE,2019
201758,Acute hepatitis,Deaths - Acute hepatitis - Sex: Both - Age: Al...,136.0,Zimbabwe,ZWE,2019
201759,Alzheimer's disease and other dementias,Deaths - Alzheimer's disease and other dementi...,812.0,Zimbabwe,ZWE,2019
201760,Parkinson's disease,Deaths - Parkinson's disease - Sex: Both - Age...,232.0,Zimbabwe,ZWE,2019
201761,Number of executions (Amnesty International),Deaths - Number of executions (Amnesty Interna...,NaN,Zimbabwe,ZWE,2019

In [9]:
afg = df[df['Code']=='AFG']
afg[['Year', 'Causes name', 'Death Numbers']].groupby('Year').head(10)

     Year                     Causes name  Death Numbers
0    2007                      Meningitis         2933.0
1    2007                       Neoplasms        15925.0
2    2007  Fire, heat, and hot substances          481.0
3    2007                         Malaria          393.0
4    2007                        Drowning         2127.0
..    ...                             ...            ...
962  2019          Interpersonal violence         5015.0
963  2019                        HIV/AIDS          318.0
964  2019              Drug use disorders          406.0
965  2019                    Tuberculosis         3627.0
966  2019                   Road injuries         8254.0

[300 rows x 3 columns]