In [47]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Exploratory Data Analysis (EDA) 

Load and explore the data for Tableau readiness.

### TABLE OF CONTENTS:

- [TABLE 1 - Summary](#table-1-summary:)
- [TABLE 2 - Global Totals](#table-2-global-totals:)
- [TABLE 3 - Age Groups](#table-3-age-groups:)
- [TABLE 4 - Ages 0-4](#table-4-ages-0-4:)
- [TABLE 5 - Ages 5-14](#table-5-ages-5-14:)
- [TABLE 6 - Ages 15-49](#table-6-ages-15-49:)
- [TABLE 7 - Ages 50-69](#table-5-ages-50-69:)
- [TABLE 8 - Ages 70+](#table-8-ages-70+:)
- [TABLE 9 - Risks](#table-9-risks:)

----

<a name="table-1-summary:"/>

#### TABLE 1 Summary:

In [48]:
summary_df = pd.read_csv('../data/W4P3_COD_V2.0.csv')
summary_df.head()

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007

In [49]:
summary_df.shape

(201762, 6)

In [72]:
codes = summary_df['Code'].unique()
len(codes)

211

In [114]:
type(values[0])

numpy.float64

In [76]:
death_totals = summary_df[['Code', 'Year', 'Death Numbers']].groupby(['Code', 'Year']).sum()
death_totals.head()

           Death Numbers
Code Year
AFG  1990       147983.0
     1991       156912.0
     1992       169205.0
     1993       182230.0
     1994       194817.0

In [111]:
death_totals.merge(summary_df['Death Numbers'])
death_totals['perc_deaths'] =

0          2933.0
1         15925.0
2           481.0
3           393.0
4          2127.0
           ...
201757     4437.0
201758      136.0
201759      812.0
201760      232.0
201761        NaN
Name: Death Numbers, Length: 201762, dtype: float64

In [77]:
death_totals = death_totals.to_dict()
death_totals = death_totals['Death Numbers']
death_totals

{('AFG', 1990): 147983.0,
 ('AFG', 1991): 156912.0,
 ('AFG', 1992): 169205.0,
 ('AFG', 1993): 182230.0,
 ('AFG', 1994): 194817.0,
 ('AFG', 1995): 196533.0,
 ('AFG', 1996): 198390.0,
 ('AFG', 1997): 206468.0,
 ('AFG', 1998): 219778.0,
 ('AFG', 1999): 204468.0,
 ('AFG', 2000): 203276.0,
 ('AFG', 2001): 205366.0,
 ('AFG', 2002): 202742.0,
 ('AFG', 2003): 207946.0,
 ('AFG', 2004): 208130.0,
 ('AFG', 2005): 206883.0,
 ('AFG', 2006): 206251.0,
 ('AFG', 2007): 204812.0,
 ('AFG', 2008): 200226.0,
 ('AFG', 2009): 195927.0,
 ('AFG', 2010): 196341.0,
 ('AFG', 2011): 196561.0,
 ('AFG', 2012): 200377.0,
 ('AFG', 2013): 202992.0,
 ('AFG', 2014): 211375.0,
 ('AFG', 2015): 217940.0,
 ('AFG', 2016): 223718.0,
 ('AFG', 2017): 217207.0,
 ('AFG', 2018): 219391.0,
 ('AFG', 2019): 217641.0,
 ('AGO', 1990): 161538.0,
 ('AGO', 1991): 162044.0,
 ('AGO', 1992): 166792.0,
 ('AGO', 1993): 181476.0,
 ('AGO', 1994): 177888.0,
 ('AGO', 1995): 176059.0,
 ('AGO', 1996): 174625.0,
 ('AGO', 1997): 178425.0,
 ('AGO', 1998): 194249.0,
 ('AGO', 1999): 190043.0,
 ('AGO', 2000): 188025.0,
 ('AGO', 2001): 188784.0,
 ('AGO', 2002): 184813.0,
 ('AGO', 2003): 185385.0,
 ('AGO', 2004): 191386.0,
 ('AGO', 2005): 190103.0,
 ('AGO', 2006): 190570.0,
 ('AGO', 2007): 187218.0,
 ('AGO', 2008): 183651.0,
 ('AGO', 2009): 179733.0,
 ('AGO', 2010): 178813.0,
 ('AGO', 2011): 177430.0,
 ('AGO', 2012): 176790.0,
 ('AGO', 2013): 174466.0,
 ('AGO', 2014): 170463.0,
 ('AGO', 2015): 170561.0,
 ('AGO', 2016): 170228.0,
 ('AGO', 2017): 171905.0,
 ('AGO', 2018): 172107.0,
 ('AGO', 2019): 173340.0,
 ('ALB', 1990): 16342.0,
 ('ALB', 1991): 16813.0,
 ('ALB', 1992): 16359.0,
 ('ALB', 1993): 15819.0,
 ('ALB', 1994): 15094.0,
 ('ALB', 1995): 15310.0,
 ('ALB', 1996): 15611.0,
 ('ALB', 1997): 17939.0,
 ('ALB', 1998): 16082.0,
 ('ALB', 1999): 15983.0,
 ('ALB', 2000): 15746.0,
 ('ALB', 2001): 15350.0,
 ('ALB', 2002): 15999.0,
 ('ALB', 2003): 16983.0,
 ('ALB', 2004): 17199.0,
 ('ALB', 2005): 17056.0,
 ('ALB', 2006): 16494.0,
 ('ALB', 2007): 16162.0,
 ('ALB', 2008): 16633.0,
 ('ALB', 2009): 16745.0,
 ('ALB', 2010): 17118.0,
 ('ALB', 2011): 17751.0,
 ('ALB', 2012): 18239.0,
 ('ALB', 2013): 18791.0,
 ('ALB', 2014): 19550.0,
 ('ALB', 2015): 20333.0,
 ('ALB', 2016): 20822.0,
 ('ALB', 2017): 21295.0,
 ('ALB', 2018): 21738.0,
 ('ALB', 2019): 22235.0,
 ('AND', 1990): 239.0,
 ('AND', 1991): 254.0,
 ('AND', 1992): 272.0,
 ('AND', 1993): 288.0,
 ('AND', 1994): 302.0,
 ('AND', 1995): 309.0,
 ('AND', 1996): 317.0,
 ('AND', 1997): 328.0,
 ('AND', 1998): 336.0,
 ('AND', 1999): 346.0,
 ('AND', 2000): 359.0,
 ('AND', 2001): 372.0,
 ('AND', 2002): 384.0,
 ('AND', 2003): 400.0,
 ('AND', 2004): 421.0,
 ('AND', 2005): 431.0,
 ('AND', 2006): 444.0,
 ('AND', 2007): 457.0,
 ('AND', 2008): 473.0,
 ('AND', 2009): 492.0,
 ('AND', 2010): 505.0,
 ('AND', 2011): 489.0,
 ('AND', 2012): 495.0,
 ('AND', 2013): 505.0,
 ('AND', 2014): 516.0,
 ('AND', 2015): 532.0,
 ('AND', 2016): 545.0,
 ('AND', 2017): 561.0,
 ('AND', 2018): 576.0,
 ('AND', 2019): 587.0,
 ('ARE', 1990): 4860.0,
 ('ARE', 1991): 5122.0,
 ('ARE', 1992): 5416.0,
 ('ARE', 1993): 5726.0,
 ('ARE', 1994): 6090.0,
 ('ARE', 1995): 6395.0,
 ('ARE', 1996): 6667.0,
 ('ARE', 1997): 6941.0,
 ('ARE', 1998): 7214.0,
 ('ARE', 1999): 7540.0,
 ('ARE', 2000): 7889.0,
 ('ARE', 2001): 8180.0,
 ('ARE', 2002): 8488.0,
 ('ARE', 2003): 8955.0,
 ('ARE', 2004): 9496.0,
 ('ARE', 2005): 9862.0,
 ('ARE', 2006): 10543.0,
 ('ARE', 2007): 11653.0,
 ('ARE', 2008): 13099.0,
 ('ARE', 2009): 14711.0,
 ('ARE', 2010): 15664.0,
 ('ARE', 2011): 16644.0,
 ('ARE', 2012): 17696.0,
 ('ARE', 2013): 18718.0,
 ('ARE', 2014): 19538.0,
 ('ARE', 2015): 20870.0,
 ('ARE', 2016): 22276.0,
 ('ARE', 2017): 23810.0,
 ('ARE', 2018): 25426.0,
 ('ARE', 2019): 27147.0,
 ('ARG', 1990): 241550.0,
 ('ARG', 1991): 242283.0,
 ('ARG', 1992): 246797.0,
 ('ARG', 1993): 247560.0,
 ('ARG', 1994): 246569.0,
 ('ARG', 1995): 251350.0,
 ('ARG', 1996): 256524.0,
 ('ARG', 1997): 262194.0,
 ('ARG', 1998): 269498.0,
 ('ARG', 1999): 274516.0,
 ('ARG', 2000): 270944.0,
 ('ARG', 2001): 274722.0,
 ('ARG', 2002): 281470.0,
 ('ARG', 2003): 285981.0,
 ('ARG', 2004): 281837.0,
 ('ARG', 2005): 279622.0,
 ('ARG', 2006): 282600.0,
 ('ARG', 2007): 291460.0,
 ('ARG', 2008): 288199.0,
 ('ARG', 2009): 291264.0,
 ('ARG', 2010): 298067.0,
 ('ARG', 2011): 302437.0,
 ('ARG', 2012): 305412.0,
 ('ARG', 2013): 309749.0,
 ('ARG', 2014): 312071.0,
 ('ARG', 2015): 319105.0,
 ('ARG', 2016): 332157.0,
 ('ARG', 2017): 336212.0,
 ('ARG', 2018): 333808.0,
 ('ARG', 2019): 337052.0,
 ('ARM', 1990): 22801.0,
 ('ARM', 1991): 23671.0,
 ('ARM', 1992): 25719.0,
 ('ARM', 1993): 26712.0,
 ('ARM', 1994): 25535.0,
 ('ARM', 1995): 25025.0,
 ('ARM', 1996): 25035.0,
 ('ARM', 1997): 24119.0,
 ('ARM', 1998): 23884.0,
 ('ARM', 1999): 23982.0,
 ('ARM', 2000): 23866.0,
 ('ARM', 2001): 24484.0,
 ('ARM', 2002): 24967.0,
 ('ARM', 2003): 25642.0,
 ('ARM', 2004): 25744.0,
 ('ARM', 2005): 26406.0,
 ('ARM', 2006): 27108.0,
 ('ARM', 2007): 27059.0,
 ('ARM', 2008): 27581.0,
 ('ARM', 2009): 27558.0,
 ('ARM', 2010): 27687.0,
 ('ARM', 2011): 27724.0,
 ('ARM', 2012): 27547.0,
 ('ARM', 2013): 26949.0,
 ('ARM', 2014): 27060.0,
 ('ARM', 2015): 27780.0,
 ('ARM', 2016): 27797.0,
 ('ARM', 2017): 27851.0,
 ('ARM', 2018): 27955.0,
 ('ARM', 2019): 27964.0,
 ('ASM', 1990): 204.0,
 ('ASM', 1991): 213.0,
 ('ASM', 1992): 219.0,
 ('ASM', 1993): 226.0,
 ('ASM', 1994): 230.0,
 ('ASM', 1995): 239.0,
 ('ASM', 1996): 245.0,
 ('ASM', 1997): 252.0,
 ('ASM', 1998): 257.0,
 ('ASM', 1999): 262.0,
 ('ASM', 2000): 266.0,
 ('ASM', 2001): 274.0,
 ('ASM', 2002): 278.0,
 ('ASM', 2003): 289.0,
 ('ASM', 2004): 286.0,
 ('ASM', 2005): 291.0,
 ('ASM', 2006): 293.0,
 ('ASM', 2007): 296.0,
 ('ASM', 2008): 302.0,
 ('ASM', 2009): 340.0,
 ('ASM', 2010): 310.0,
 ('ASM', 2011): 315.0,
 ('ASM', 2012): 320.0,
 ('ASM', 2013): 331.0,
 ('ASM', 2014): 334.0,
 ('ASM', 2015): 339.0,
 ('ASM', 2016): 347.0,
 ('ASM', 2017): 350.0,
 ('ASM', 2018): 355.0,
 ('ASM', 2019): 361.0,
 ('ATG', 1990): 413.0,
 ('ATG', 1991): 422.0,
 ('ATG', 1992): 428.0,
 ('ATG', 1993): 456.0,
 ('ATG', 1994): 461.0,
 ('ATG', 1995): 465.0,
 ('ATG', 1996): 440.0,
 ('ATG', 1997): 464.0,
 ('ATG', 1998): 433.0,
 ('ATG', 1999): 438.0,
 ('ATG', 2000): 439.0,
 ('ATG', 2001): 438.0,
 ('ATG', 2002): 438.0,
 ('ATG', 2003): 437.0,
 ('ATG', 2004): 438.0,
 ('ATG', 2005): 441.0,
 ('ATG', 2006): 449.0,
 ('ATG', 2007): 501.0,
 ('ATG', 2008): 502.0,
 ('ATG', 2009): 477.0,
 ('ATG', 2010): 482.0,
 ('ATG', 2011): 492.0,
 ('ATG', 2012): 499.0,
 ('ATG', 2013): 505.0,
 ('ATG', 2014): 522.0,
 ('ATG', 2015): 538.0,
 ('ATG', 2016): 547.0,
 ('ATG', 2017): 558.0,
 ('ATG', 2018): 568.0,
 ('ATG', 2019): 578.0,
 ('AUS', 1990): 113589.0,
 ('AUS', 1991): 113521.0,
 ('AUS', 1992): 115531.0,
 ('AUS', 1993): 116309.0,
 ('AUS', 1994): 119121.0,
 ('AUS', 1995): 119684.0,
 ('AUS', 1996): 121577.0,
 ('AUS', 1997): 121817.0,
 ('AUS', 1998): 121617.0,
 ('AUS', 1999): 121706.0,
 ('AUS', 2000): 122290.0,
 ('AUS', 2001): 122934.0,
 ('AUS', 2002): 124778.0,
 ('AUS', 2003): 124653.0,
 ('AUS', 2004): 124483.0,
 ('AUS', 2005): 124441.0,
 ('AUS', 2006): 126024.0,
 ('AUS', 2007): 129287.0,
 ('AUS', 2008): 131715.0,
 ('AUS', 2009): 132087.0,
 ('AUS', 2010): 132798.0,
 ('AUS', 2011): 135195.0,
 ('AUS', 2012): 135810.0,
 ('AUS', 2013): 137420.0,
 ('AUS', 2014): 141342.0,
 ('AUS', 2015): 145315.0,
 ('AUS', 2016): 146789.0,
 ('AUS', 2017): 150480.0,
 ('AUS', 2018): 156364.0,
 ('AUS', 2019): 160895.0,
 ('AUT', 1990): 80361.0,
 ('AUT', 1991): 80474.0,
 ('AUT', 1992): 80264.0,
 ('AUT', 1993): 79716.0,
 ('AUT', 1994): 78687.0,
 ('AUT', 1995): 78819.0,
 ('AUT', 1996): 78598.0,
 ('AUT', 1997): 77386.0,
 ('AUT', 1998): 76787.0,
 ('AUT', 1999): 76340.0,
 ('AUT', 2000): 75674.0,
 ('AUT', 2001): 74291.0,
 ('AUT', 2002): 74661.0,
 ('AUT', 2003): 74693.0,
 ('AUT', 2004): 73266.0,
 ('AUT', 2005): 73335.0,
 ('AUT', 2006): 72311.0,
 ('AUT', 2007): 72418.0,
 ('AUT', 2008): 72295.0,
 ('AUT', 2009): 73218.0,
 ('AUT', 2010): 73492.0,
 ('AUT', 2011): 74094.0,
 ('AUT', 2012): 75325.0,
 ('AUT', 2013): 75879.0,
 ('AUT', 2014): 76457.0,
 ('AUT', 2015): 78165.0,
 ('AUT', 2016): 78123.0,
 ('AUT', 2017): 77779.0,
 ('AUT', 2018): 78339.0,
 ('AUT', 2019): 79649.0,
 ('AZE', 1990): 56504.0,
 ('AZE', 1991): 58749.0,
 ('AZE', 1992): 65131.0,
 ('AZE', 1993): 66547.0,
 ('AZE', 1994): 68671.0,
 ('AZE', 1995): 64876.0,
 ('AZE', 1996): 63092.0,
 ('AZE', 1997): 61807.0,
 ('AZE', 1998): 61487.0,
 ('AZE', 1999): 61530.0,
 ('AZE', 2000): 61462.0,
 ('AZE', 2001): 61223.0,
 ('AZE', 2002): 62251.0,
 ('AZE', 2003): 64348.0,
 ('AZE', 2004): 65778.0,
 ('AZE', 2005): 67446.0,
 ('AZE', 2006): 68128.0,
 ('AZE', 2007): 68008.0,
 ('AZE', 2008): 69042.0,
 ('AZE', 2009): 69916.0,
 ('AZE', 2010): 70826.0,
 ('AZE', 2011): 71945.0,
 ('AZE', 2012): 72704.0,
 ('AZE', 2013): 73411.0,
 ('AZE', 2014): 74524.0,
 ('AZE', 2015): 74767.0,
 ('AZE', 2016): 75950.0,
 ('AZE', 2017): 76848.0,
 ('AZE', 2018): 75603.0,
 ('AZE', 2019): 75923.0,
 ('BDI', 1990): 89827.0,
 ('BDI', 1991): 91963.0,
 ('BDI', 1992): 93413.0,
 ('BDI', 1993): 94804.0,
 ('BDI', 1994): 110350.0,
 ('BDI', 1995): 112375.0,
 ('BDI', 1996): 113986.0,
 ('BDI', 1997): 112744.0,
 ('BDI', 1998): 111588.0,
 ('BDI', 1999): 110440.0,
 ('BDI', 2000): 110060.0,
 ('BDI', 2001): 107090.0,
 ('BDI', 2002): 106496.0,
 ('BDI', 2003): 105678.0,
 ('BDI', 2004): 103014.0,
 ('BDI', 2005): 101404.0,
 ('BDI', 2006): 86319.0,
 ('BDI', 2007): 84257.0,
 ('BDI', 2008): 82870.0,
 ('BDI', 2009): 82347.0,
 ('BDI', 2010): 82161.0,
 ('BDI', 2011): 81483.0,
 ('BDI', 2012): 80196.0,
 ('BDI', 2013): 80052.0,
 ('BDI', 2014): 79350.0,
 ('BDI', 2015): 79412.0,
 ('BDI', 2016): 78687.0,
 ('BDI', 2017): 78686.0,
 ('BDI', 2018): 79858.0,
 ('BDI', 2019): 80411.0,
 ('BEL', 1990): 99749.0,
 ('BEL', 1991): 99087.0,
 ('BEL', 1992): 99610.0,
 ('BEL', 1993): 100407.0,
 ('BEL', 1994): 99953.0,
 ('BEL', 1995): 100248.0,
 ('BEL', 1996): 99948.0,
 ('BEL', 1997): 99616.0,
 ('BEL', 1998): 99694.0,
 ('BEL', 1999): 99731.0,
 ('BEL', 2000): 99652.0,
 ('BEL', 2001): 98959.0,
 ('BEL', 2002): 99649.0,
 ('BEL', 2003): 99373.0,
 ('BEL', 2004): 97386.0,
 ('BEL', 2005): 97319.0,
 ('BEL', 2006): 96192.0,
 ('BEL', 2007): 96783.0,
 ('BEL', 2008): 97698.0,
 ('BEL', 2009): 98415.0,
 ('BEL', 2010): 98892.0,
 ('BEL', 2011): 99727.0,
 ('BEL', 2012): 101587.0,
 ('BEL', 2013): 102116.0,
 ('BEL', 2014): 100853.0,
 ('BEL', 2015): 103033.0,
 ('BEL', 2016): 102831.0,
 ('BEL', 2017): 104282.0,
 ('BEL', 2018): 106064.0,
 ('BEL', 2019): 107942.0,
 ('BEN', 1990): 57693.0,
 ('BEN', 1991): 58712.0,
 ('BEN', 1992): 59028.0,
 ('BEN', 1993): 59631.0,
 ('BEN', 1994): 60910.0,
 ('BEN', 1995): 61830.0,
 ('BEN', 1996): 63165.0,
 ('BEN', 1997): 64098.0,
 ('BEN', 1998): 65242.0,
 ('BEN', 1999): 66294.0,
 ('BEN', 2000): 67766.0,
 ('BEN', 2001): 69064.0,
 ('BEN', 2002): 71005.0,
 ('BEN', 2003): 72352.0,
 ('BEN', 2004): 74850.0,
 ('BEN', 2005): 75827.0,
 ('BEN', 2006): 77035.0,
 ('BEN', 2007): 77753.0,
 ('BEN', 2008): 77444.0,
 ('BEN', 2009): 77247.0,
 ('BEN', 2010): 77896.0,
 ('BEN', 2011): 78030.0,
 ('BEN', 2012): 79757.0,
 ('BEN', 2013): 80743.0,
 ('BEN', 2014): 81026.0,
 ('BEN', 2015): 82943.0,
 ('BEN', 2016): 83692.0,
 ('BEN', 2017): 83589.0,
 ('BEN', 2018): 83192.0,
 ('BEN', 2019): 82530.0,
 ('BFA', 1990): 135246.0,
 ('BFA', 1991): 138241.0,
 ('BFA', 1992): 141596.0,
 ('BFA', 1993): 144267.0,
 ('BFA', 1994): 147020.0,
 ('BFA', 1995): 149793.0,
 ('BFA', 1996): 155172.0,
 ('BFA', 1997): 154762.0,
 ('BFA', 1998): 154537.0,
 ('BFA', 1999): 156561.0,
 ('BFA', 2000): 162088.0,
 ('BFA', 2001): 164666.0,
 ('BFA', 2002): 167870.0,
 ('BFA', 2003): 168937.0,
 ('BFA', 2004): 168574.0,
 ('BFA', 2005): 168738.0,
 ('BFA', 2006): 167196.0,
 ('BFA', 2007): 165772.0,
 ('BFA', 2008): 166195.0,
 ('BFA', 2009): 166822.0,
 ('BFA', 2010): 168681.0,
 ('BFA', 2011): 168944.0,
 ('BFA', 2012): 172590.0,
 ('BFA', 2013): 172971.0,
 ('BFA', 2014): 172281.0,
 ('BFA', 2015): 174176.0,
 ('BFA', 2016): 173902.0,
 ('BFA', 2017): 173275.0,
 ('BFA', 2018): 173565.0,
 ('BFA', 2019): 174965.0,
 ('BGD', 1990): 1063142.0,
 ('BGD', 1991): 1147130.0,
 ('BGD', 1992): 981312.0,
 ('BGD', 1993): 952294.0,
 ('BGD', 1994): 926216.0,
 ('BGD', 1995): 912963.0,
 ('BGD', 1996): 882923.0,
 ('BGD', 1997): 857460.0,
 ('BGD', 1998): 837170.0,
 ('BGD', 1999): 820349.0,
 ('BGD', 2000): 812044.0,
 ('BGD', 2001): 797894.0,
 ('BGD', 2002): 795190.0,
 ('BGD', 2003): 792519.0,
 ('BGD', 2004): 784457.0,
 ('BGD', 2005): 782286.0,
 ('BGD', 2006): 783406.0,
 ('BGD', 2007): 785984.0,
 ('BGD', 2008): 769488.0,
 ('BGD', 2009): 762734.0,
 ('BGD', 2010): 764855.0,
 ('BGD', 2011): 732333.0,
 ('BGD', 2012): 705039.0,
 ('BGD', 2013): 708535.0,
 ('BGD', 2014): 731161.0,
 ('BGD', 2015): 736153.0,
 ('BGD', 2016): 753027.0,
 ('BGD', 2017): 792183.0,
 ('BGD', 2018): 808109.0,
 ('BGD', 2019): 826122.0,
 ('BGR', 1990): 111409.0,
 ('BGR', 1991): 111578.0,
 ('BGR', 1992): 115090.0,
 ('BGR', 1993): 119588.0,
 ('BGR', 1994): 124521.0,
 ('BGR', 1995): 126972.0,
 ('BGR', 1996): 129647.0,
 ('BGR', 1997): 133839.0,
 ('BGR', 1998): 130472.0,
 ('BGR', 1999): 126442.0,
 ('BGR', 2000): 127086.0,
 ('BGR', 2001): 125850.0,
 ('BGR', 2002): 125110.0,
 ('BGR', 2003): 124347.0,
 ('BGR', 2004): 124457.0,
 ('BGR', 2005): 126511.0,
 ('BGR', 2006): 127994.0,
 ('BGR', 2007): 126690.0,
 ('BGR', 2008): 124916.0,
 ('BGR', 2009): 123698.0,
 ('BGR', 2010): 123746.0,
 ('BGR', 2011): 123157.0,
 ('BGR', 2012): 121486.0,
 ('BGR', 2013): 119568.0,
 ('BGR', 2014): 122981.0,
 ('BGR', 2015): 122749.0,
 ('BGR', 2016): 122605.0,
 ('BGR', 2017): 122615.0,
 ('BGR', 2018): 124609.0,
 ('BGR', 2019): 124815.0,
 ('BHR', 1990): 1770.0,
 ('BHR', 1991): 1837.0,
 ('BHR', 1992): 1860.0,
 ('BHR', 1993): 1863.0,
 ('BHR', 1994): 1884.0,
 ('BHR', 1995): 1923.0,
 ('BHR', 1996): 1983.0,
 ('BHR', 1997): 2011.0,
 ('BHR', 1998): 2050.0,
 ('BHR', 1999): 2105.0,
 ('BHR', 2000): 2020.0,
 ('BHR', 2001): 1928.0,
 ('BHR', 2002): 2135.0,
 ('BHR', 2003): 2358.0,
 ('BHR', 2004): 2467.0,
 ('BHR', 2005): 2546.0,
 ('BHR', 2006): 2580.0,
 ('BHR', 2007): 2613.0,
 ('BHR', 2008): 2680.0,
 ('BHR', 2009): 2733.0,
 ('BHR', 2010): 2785.0,
 ('BHR', 2011): 2842.0,
 ('BHR', 2012): 2915.0,
 ('BHR', 2013): 2971.0,
 ('BHR', 2014): 3062.0,
 ('BHR', 2015): 3213.0,
 ('BHR', 2016): 3375.0,
 ('BHR', 2017): 3615.0,
 ('BHR', 2018): 3799.0,
 ('BHR', 2019): 4062.0,
 ('BHS', 1990): 1355.0,
 ('BHS', 1991): 1389.0,
 ('BHS', 1992): 1447.0,
 ('BHS', 1993): 1525.0,
 ('BHS', 1994): 1592.0,
 ('BHS', 1995): 1612.0,
 ('BHS', 1996): 1706.0,
 ('BHS', 1997): 1674.0,
 ('BHS', 1998): 1690.0,
 ('BHS', 1999): 1820.0,
 ('BHS', 2000): 1806.0,
 ('BHS', 2001): 1855.0,
 ('BHS', 2002): 1823.0,
 ('BHS', 2003): 1808.0,
 ('BHS', 2004): 1844.0,
 ('BHS', 2005): 1785.0,
 ('BHS', 2006): 1860.0,
 ('BHS', 2007): 1834.0,
 ('BHS', 2008): 1901.0,
 ('BHS', 2009): 1995.0,
 ('BHS', 2010): 2036.0,
 ('BHS', 2011): 2089.0,
 ('BHS', 2012): 2126.0,
 ('BHS', 2013): 2154.0,
 ('BHS', 2014): 2207.0,
 ('BHS', 2015): 2311.0,
 ('BHS', 2016): 2331.0,
 ('BHS', 2017): 2383.0,
 ('BHS', 2018): 2445.0,
 ('BHS', 2019): 2561.0,
 ('BIH', 1990): 28224.0,
 ('BIH', 1991): 30878.0,
 ('BIH', 1992): 38290.0,
 ('BIH', 1993): 36738.0,
 ('BIH', 1994): 34254.0,
 ('BIH', 1995): 40842.0,
 ('BIH', 1996): 30717.0,
 ('BIH', 1997): 30604.0,
 ('BIH', 1998): 29064.0,
 ('BIH', 1999): 28917.0,
 ('BIH', 2000): 29660.0,
 ('BIH', 2001): 31389.0,
 ('BIH', 2002): 32597.0,
 ('BIH', 2003): 32956.0,
 ('BIH', 2004): 33016.0,
 ('BIH', 2005): 34099.0,
 ('BIH', 2006): 33762.0,
 ('BIH', 2007): 35210.0,
 ('BIH', 2008): 33668.0,
 ('BIH', 2009): 33863.0,
 ('BIH', 2010): 34009.0,
 ('BIH', 2011): 34550.0,
 ('BIH', 2012): 34500.0,
 ('BIH', 2013): 34999.0,
 ('BIH', 2014): 35582.0,
 ('BIH', 2015): 36744.0,
 ('BIH', 2016): 36510.0,
 ('BIH', 2017): 36607.0,
 ('BIH', 2018): 37001.0,
 ('BIH', 2019): 37210.0,
 ('BLR', 1990): 106207.0,
 ('BLR', 1991): 110531.0,
 ('BLR', 1992): 114424.0,
 ('BLR', 1993): 124609.0,
 ('BLR', 1994): 126430.0,
 ('BLR', 1995): 130568.0,
 ('BLR', 1996): 129627.0,
 ('BLR', 1997): 131962.0,
 ('BLR', 1998): 134549.0,
 ('BLR', 1999): 138260.0,
 ('BLR', 2000): 131705.0,
 ('BLR', 2001): 137429.0,
 ('BLR', 2002): 143861.0,
 ('BLR', 2003): 140197.0,
 ('BLR', 2004): 137923.0,
 ('BLR', 2005): 140683.0,
 ('BLR', 2006): 136911.0,
 ('BLR', 2007): 131200.0,
 ('BLR', 2008): 131493.0,
 ('BLR', 2009): 132938.0,
 ('BLR', 2010): 134550.0,
 ('BLR', 2011): 137095.0,
 ('BLR', 2012): 124092.0,
 ('BLR', 2013): 123210.0,
 ('BLR', 2014): 122159.0,
 ('BLR', 2015): 120193.0,
 ('BLR', 2016): 120670.0,
 ('BLR', 2017): 121680.0,
 ('BLR', 2018): 120238.0,
 ('BLR', 2019): 120747.0,
 ('BLZ', 1990): 856.0,
 ('BLZ', 1991): 854.0,
 ('BLZ', 1992): 842.0,
 ('BLZ', 1993): 863.0,
 ('BLZ', 1994): 897.0,
 ('BLZ', 1995): 935.0,
 ('BLZ', 1996): 1004.0,
 ('BLZ', 1997): 1085.0,
 ('BLZ', 1998): 1167.0,
 ('BLZ', 1999): 1216.0,
 ('BLZ', 2000): 1271.0,
 ('BLZ', 2001): 1247.0,
 ('BLZ', 2002): 1222.0,
 ('BLZ', 2003): 1227.0,
 ('BLZ', 2004): 1256.0,
 ('BLZ', 2005): 1264.0,
 ('BLZ', 2006): 1288.0,
 ('BLZ', 2007): 1293.0,
 ('BLZ', 2008): 1298.0,
 ('BLZ', 2009): 1348.0,
 ('BLZ', 2010): 1411.0,
 ('BLZ', 2011): 1441.0,
 ('BLZ', 2012): 1456.0,
 ('BLZ', 2013): 1505.0,
 ('BLZ', 2014): 1580.0,
 ('BLZ', 2015): 1656.0,
 ('BLZ', 2016): 1700.0,
 ('BLZ', 2017): 1751.0,
 ('BLZ', 2018): 1838.0,
 ('BLZ', 2019): 1902.0,
 ('BMU', 1990): 479.0,
 ('BMU', 1991): 470.0,
 ('BMU', 1992): 458.0,
 ('BMU', 1993): 464.0,
 ('BMU', 1994): 460.0,
 ('BMU', 1995): 440.0,
 ('BMU', 1996): 456.0,
 ('BMU', 1997): 435.0,
 ('BMU', 1998): 431.0,
 ('BMU', 1999): 431.0,
 ('BMU', 2000): 440.0,
 ('BMU', 2001): 427.0,
 ('BMU', 2002): 426.0,
 ('BMU', 2003): 427.0,
 ('BMU', 2004): 420.0,
 ('BMU', 2005): 421.0,
 ('BMU', 2006): 427.0,
 ('BMU', 2007): 429.0,
 ('BMU', 2008): 435.0,
 ('BMU', 2009): 440.0,
 ('BMU', 2010): 447.0,
 ('BMU', 2011): 455.0,
 ('BMU', 2012): 465.0,
 ('BMU', 2013): 479.0,
 ('BMU', 2014): 492.0,
 ('BMU', 2015): 506.0,
 ('BMU', 2016): 517.0,
 ('BMU', 2017): 531.0,
 ('BMU', 2018): 547.0,
 ('BMU', 2019): 557.0,
 ('BOL', 1990): 57584.0,
 ('BOL', 1991): 57677.0,
 ('BOL', 1992): 57610.0,
 ('BOL', 1993): 57357.0,
 ('BOL', 1994): 56855.0,
 ('BOL', 1995): 56876.0,
 ('BOL', 1996): 56697.0,
 ('BOL', 1997): 56971.0,
 ('BOL', 1998): 56973.0,
 ('BOL', 1999): 56927.0,
 ('BOL', 2000): 57020.0,
 ('BOL', 2001): 56795.0,
 ('BOL', 2002): 56934.0,
 ('BOL', 2003): 57014.0,
 ('BOL', 2004): 57123.0,
 ('BOL', 2005): 57616.0,
 ('BOL', 2006): 58217.0,
 ('BOL', 2007): 59252.0,
 ('BOL', 2008): 60254.0,
 ('BOL', 2009): 61296.0,
 ('BOL', 2010): 62492.0,
 ('BOL', 2011): 63826.0,
 ('BOL', 2012): 65002.0,
 ('BOL', 2013): 66340.0,
 ('BOL', 2014): 67484.0,
 ('BOL', 2015): 68509.0,
 ('BOL', 2016): 69651.0,
 ('BOL', 2017): 70815.0,
 ('BOL', 2018): 71994.0,
 ('BOL', 2019): 73224.0,
 ('BRA', 1990): 931379.0,
 ('BRA', 1991): 920405.0,
 ('BRA', 1992): 924550.0,
 ('BRA', 1993): 949145.0,
 ('BRA', 1994): 955619.0,
 ('BRA', 1995): 963861.0,
 ('BRA', 1996): 973500.0,
 ('BRA', 1997): 971763.0,
 ('BRA', 1998): 986046.0,
 ('BRA', 1999): 994442.0,
 ('BRA', 2000): 1002982.0,
 ('BRA', 2001): 1016456.0,
 ('BRA', 2002): 1033242.0,
 ('BRA', 2003): 1049977.0,
 ('BRA', 2004): 1064373.0,
 ('BRA', 2005): 1062092.0,
 ('BRA', 2006): 1078410.0,
 ('BRA', 2007): 1095154.0,
 ('BRA', 2008): 1116129.0,
 ('BRA', 2009): 1139839.0,
 ('BRA', 2010): 1161889.0,
 ('BRA', 2011): 1184438.0,
 ('BRA', 2012): 1192836.0,
 ('BRA', 2013): 1211077.0,
 ('BRA', 2014): 1225165.0,
 ('BRA', 2015): 1247532.0,
 ('BRA', 2016): 1284873.0,
 ('BRA', 2017): 1288552.0,
 ('BRA', 2018): 1309730.0,
 ('BRA', 2019): 1338790.0,
 ('BRB', 1990): 2127.0,
 ('BRB', 1991): 2109.0,
 ('BRB', 1992): 2183.0,
 ('BRB', 1993): 2220.0,
 ('BRB', 1994): 2249.0,
 ('BRB', 1995): 2257.0,
 ('BRB', 1996): 2246.0,
 ('BRB', 1997): 2255.0,
 ('BRB', 1998): 2226.0,
 ('BRB', 1999): 2182.0,
 ('BRB', 2000): 2218.0,
 ('BRB', 2001): 2172.0,
 ('BRB', 2002): 2238.0,
 ('BRB', 2003): 2300.0,
 ('BRB', 2004): 2320.0,
 ('BRB', 2005): 2270.0,
 ('BRB', 2006): 2277.0,
 ('BRB', 2007): 2280.0,
 ('BRB', 2008): 2273.0,
 ('BRB', 2009): 2238.0,
 ('BRB', 2010): 2271.0,
 ('BRB', 2011): 2307.0,

In [107]:
summary_df.head()

,Causes name,Causes Full Description,Death Numbers,Entity,Code,Year
0,Meningitis,Deaths - Meningitis - Sex: Both - Age: All Age...,2933.0,Afghanistan,AFG,2007
1,Neoplasms,Deaths - Neoplasms - Sex: Both - Age: All Ages...,15925.0,Afghanistan,AFG,2007
2,"Fire, heat, and hot substances","Deaths - Fire, heat, and hot substances - Sex:...",481.0,Afghanistan,AFG,2007
3,Malaria,Deaths - Malaria - Sex: Both - Age: All Ages (...,393.0,Afghanistan,AFG,2007
4,Drowning,Deaths - Drowning - Sex: Both - Age: All Ages ...,2127.0,Afghanistan,AFG,2007

2

['ZWE', 2019]

In [113]:
code = summary_df['Code']
year = summary_df['Year']
keys = zip(code, year)
values = summary_df['Death Numbers']
key_val_pairs = zip(keys, values)
perc_death_map = dict(key_val_pairs)
perc_death_map

{('AFG', 2007): 15.0,
 ('AFG', 2008): 17.0,
 ('AFG', 2009): 0.0,
 ('AFG', 2011): 2.0,
 ('AFG', 2012): 14.0,
 ('AFG', 2013): 2.0,
 ('AFG', 2014): 6.0,
 ('AFG', 2015): 1.0,
 ('AFG', 2016): 6.0,
 ('AFG', 1990): nan,
 ('AFG', 1991): nan,
 ('AFG', 1992): nan,
 ('AFG', 1993): nan,
 ('AFG', 1994): nan,
 ('AFG', 1995): nan,
 ('AFG', 1996): nan,
 ('AFG', 1997): nan,
 ('AFG', 1998): nan,
 ('AFG', 1999): nan,
 ('AFG', 2000): nan,
 ('AFG', 2001): nan,
 ('AFG', 2002): nan,
 ('AFG', 2003): nan,
 ('AFG', 2004): nan,
 ('AFG', 2005): nan,
 ('AFG', 2006): nan,
 ('AFG', 2010): nan,
 ('AFG', 2017): nan,
 ('AFG', 2018): nan,
 ('AFG', 2019): nan,
 ('ALB', 1990): nan,
 ('ALB', 1991): nan,
 ('ALB', 1992): nan,
 ('ALB', 1993): nan,
 ('ALB', 1994): nan,
 ('ALB', 1995): nan,
 ('ALB', 1996): nan,
 ('ALB', 1997): nan,
 ('ALB', 1998): nan,
 ('ALB', 1999): nan,
 ('ALB', 2000): nan,
 ('ALB', 2001): nan,
 ('ALB', 2002): nan,
 ('ALB', 2003): nan,
 ('ALB', 2004): nan,
 ('ALB', 2005): nan,
 ('ALB', 2006): nan,
 ('ALB', 2007): nan,
 ('ALB', 2008): nan,
 ('ALB', 2009): nan,
 ('ALB', 2010): nan,
 ('ALB', 2011): nan,
 ('ALB', 2012): nan,
 ('ALB', 2013): nan,
 ('ALB', 2014): nan,
 ('ALB', 2015): nan,
 ('ALB', 2016): nan,
 ('ALB', 2017): nan,
 ('ALB', 2018): nan,
 ('ALB', 2019): nan,
 ('DZA', 1990): nan,
 ('DZA', 1991): nan,
 ('DZA', 1992): nan,
 ('DZA', 1993): nan,
 ('DZA', 1994): nan,
 ('DZA', 1995): nan,
 ('DZA', 1996): nan,
 ('DZA', 1997): nan,
 ('DZA', 1998): nan,
 ('DZA', 1999): nan,
 ('DZA', 2000): nan,
 ('DZA', 2001): nan,
 ('DZA', 2002): nan,
 ('DZA', 2003): nan,
 ('DZA', 2004): nan,
 ('DZA', 2005): nan,
 ('DZA', 2006): nan,
 ('DZA', 2007): nan,
 ('DZA', 2008): nan,
 ('DZA', 2009): nan,
 ('DZA', 2010): nan,
 ('DZA', 2011): nan,
 ('DZA', 2012): nan,
 ('DZA', 2013): nan,
 ('DZA', 2014): nan,
 ('DZA', 2015): nan,
 ('DZA', 2016): nan,
 ('DZA', 2017): nan,
 ('DZA', 2018): nan,
 ('DZA', 2019): nan,
 (nan, 1990): nan,
 (nan, 1991): nan,
 (nan, 1992): nan,
 (nan, 1993): nan,
 (nan, 1994): nan,
 (nan, 1995): nan,
 (nan, 1996): nan,
 (nan, 1997): nan,
 (nan, 1998): nan,
 (nan, 1999): nan,
 (nan, 2000): nan,
 (nan, 2001): nan,
 (nan, 2002): nan,
 (nan, 2003): nan,
 (nan, 2004): nan,
 (nan, 2005): nan,
 (nan, 2006): nan,
 (nan, 2007): nan,
 (nan, 2008): nan,
 (nan, 2009): nan,
 (nan, 2010): nan,
 (nan, 2011): nan,
 (nan, 2012): nan,
 (nan, 2013): nan,
 (nan, 2014): nan,
 (nan, 2015): nan,
 (nan, 2016): nan,
 (nan, 2017): nan,
 (nan, 2018): nan,
 (nan, 2019): nan,
 ('ASM', 1990): nan,
 ('ASM', 1991): nan,
 ('ASM', 1992): nan,
 ('ASM', 1993): nan,
 ('ASM', 1994): nan,
 ('ASM', 1995): nan,
 ('ASM', 1996): nan,
 ('ASM', 1997): nan,
 ('ASM', 1998): nan,
 ('ASM', 1999): nan,
 ('ASM', 2000): nan,
 ('ASM', 2001): nan,
 ('ASM', 2002): nan,
 ('ASM', 2003): nan,
 ('ASM', 2004): nan,
 ('ASM', 2005): nan,
 ('ASM', 2006): nan,
 ('ASM', 2007): nan,
 ('ASM', 2008): nan,
 ('ASM', 2009): nan,
 ('ASM', 2010): nan,
 ('ASM', 2011): nan,
 ('ASM', 2012): nan,
 ('ASM', 2013): nan,
 ('ASM', 2014): nan,
 ('ASM', 2015): nan,
 ('ASM', 2016): nan,
 ('ASM', 2017): nan,
 ('ASM', 2018): nan,
 ('ASM', 2019): nan,
 ('AND', 1990): nan,
 ('AND', 1991): nan,
 ('AND', 1992): nan,
 ('AND', 1993): nan,
 ('AND', 1994): nan,
 ('AND', 1995): nan,
 ('AND', 1996): nan,
 ('AND', 1997): nan,
 ('AND', 1998): nan,
 ('AND', 1999): nan,
 ('AND', 2000): nan,
 ('AND', 2001): nan,
 ('AND', 2002): nan,
 ('AND', 2003): nan,
 ('AND', 2004): nan,
 ('AND', 2005): nan,
 ('AND', 2006): nan,
 ('AND', 2007): nan,
 ('AND', 2008): nan,
 ('AND', 2009): nan,
 ('AND', 2010): nan,
 ('AND', 2011): nan,
 ('AND', 2012): nan,
 ('AND', 2013): nan,
 ('AND', 2014): nan,
 ('AND', 2015): nan,
 ('AND', 2016): nan,
 ('AND', 2017): nan,
 ('AND', 2018): nan,
 ('AND', 2019): nan,
 ('AGO', 1990): nan,
 ('AGO', 1991): nan,
 ('AGO', 1992): nan,
 ('AGO', 1993): nan,
 ('AGO', 1994): nan,
 ('AGO', 1995): nan,
 ('AGO', 1996): nan,
 ('AGO', 1997): nan,
 ('AGO', 1998): nan,
 ('AGO', 1999): nan,
 ('AGO', 2000): nan,
 ('AGO', 2001): nan,
 ('AGO', 2002): nan,
 ('AGO', 2003): nan,
 ('AGO', 2004): nan,
 ('AGO', 2005): nan,
 ('AGO', 2006): nan,
 ('AGO', 2007): nan,
 ('AGO', 2008): nan,
 ('AGO', 2009): nan,
 ('AGO', 2010): nan,
 ('AGO', 2011): nan,
 ('AGO', 2012): nan,
 ('AGO', 2013): nan,
 ('AGO', 2014): nan,
 ('AGO', 2015): nan,
 ('AGO', 2016): nan,
 ('AGO', 2017): nan,
 ('AGO', 2018): nan,
 ('AGO', 2019): nan,
 ('ATG', 1990): nan,
 ('ATG', 1991): nan,
 ('ATG', 1992): nan,
 ('ATG', 1993): nan,
 ('ATG', 1994): nan,
 ('ATG', 1995): nan,
 ('ATG', 1996): nan,
 ('ATG', 1997): nan,
 ('ATG', 1998): nan,
 ('ATG', 1999): nan,
 ('ATG', 2000): nan,
 ('ATG', 2001): nan,
 ('ATG', 2002): nan,
 ('ATG', 2003): nan,
 ('ATG', 2004): nan,
 ('ATG', 2005): nan,
 ('ATG', 2006): nan,
 ('ATG', 2007): nan,
 ('ATG', 2008): nan,
 ('ATG', 2009): nan,
 ('ATG', 2010): nan,
 ('ATG', 2011): nan,
 ('ATG', 2012): nan,
 ('ATG', 2013): nan,
 ('ATG', 2014): nan,
 ('ATG', 2015): nan,
 ('ATG', 2016): nan,
 ('ATG', 2017): nan,
 ('ATG', 2018): nan,
 ('ATG', 2019): nan,
 ('ARG', 1990): nan,
 ('ARG', 1991): nan,
 ('ARG', 1992): nan,
 ('ARG', 1993): nan,
 ('ARG', 1994): nan,
 ('ARG', 1995): nan,
 ('ARG', 1996): nan,
 ('ARG', 1997): nan,
 ('ARG', 1998): nan,
 ('ARG', 1999): nan,
 ('ARG', 2000): nan,
 ('ARG', 2001): nan,
 ('ARG', 2002): nan,
 ('ARG', 2003): nan,
 ('ARG', 2004): nan,
 ('ARG', 2005): nan,
 ('ARG', 2006): nan,
 ('ARG', 2007): nan,
 ('ARG', 2008): nan,
 ('ARG', 2009): nan,
 ('ARG', 2010): nan,
 ('ARG', 2011): nan,
 ('ARG', 2012): nan,
 ('ARG', 2013): nan,
 ('ARG', 2014): nan,
 ('ARG', 2015): nan,
 ('ARG', 2016): nan,
 ('ARG', 2017): nan,
 ('ARG', 2018): nan,
 ('ARG', 2019): nan,
 ('ARM', 1990): nan,
 ('ARM', 1991): nan,
 ('ARM', 1992): nan,
 ('ARM', 1993): nan,
 ('ARM', 1994): nan,
 ('ARM', 1995): nan,
 ('ARM', 1996): nan,
 ('ARM', 1997): nan,
 ('ARM', 1998): nan,
 ('ARM', 1999): nan,
 ('ARM', 2000): nan,
 ('ARM', 2001): nan,
 ('ARM', 2002): nan,
 ('ARM', 2003): nan,
 ('ARM', 2004): nan,
 ('ARM', 2005): nan,
 ('ARM', 2006): nan,
 ('ARM', 2007): nan,
 ('ARM', 2008): nan,
 ('ARM', 2009): nan,
 ('ARM', 2010): nan,
 ('ARM', 2011): nan,
 ('ARM', 2012): nan,
 ('ARM', 2013): nan,
 ('ARM', 2014): nan,
 ('ARM', 2015): nan,
 ('ARM', 2016): nan,
 ('ARM', 2017): nan,
 ('ARM', 2018): nan,
 ('ARM', 2019): nan,
 ('AUS', 1990): nan,
 ('AUS', 1991): nan,
 ('AUS', 1992): nan,
 ('AUS', 1993): nan,
 ('AUS', 1994): nan,
 ('AUS', 1995): nan,
 ('AUS', 1996): nan,
 ('AUS', 1997): nan,
 ('AUS', 1998): nan,
 ('AUS', 1999): nan,
 ('AUS', 2000): nan,
 ('AUS', 2001): nan,
 ('AUS', 2002): nan,
 ('AUS', 2003): nan,
 ('AUS', 2004): nan,
 ('AUS', 2005): nan,
 ('AUS', 2006): nan,
 ('AUS', 2007): nan,
 ('AUS', 2008): nan,
 ('AUS', 2009): nan,
 ('AUS', 2010): nan,
 ('AUS', 2011): nan,
 ('AUS', 2012): nan,
 ('AUS', 2013): nan,
 ('AUS', 2014): nan,
 ('AUS', 2015): nan,
 ('AUS', 2016): nan,
 ('AUS', 2017): nan,
 ('AUS', 2018): nan,
 ('AUS', 2019): nan,
 ('AUT', 1990): nan,
 ('AUT', 1991): nan,
 ('AUT', 1992): nan,
 ('AUT', 1993): nan,
 ('AUT', 1994): nan,
 ('AUT', 1995): nan,
 ('AUT', 1996): nan,
 ('AUT', 1997): nan,
 ('AUT', 1998): nan,
 ('AUT', 1999): nan,
 ('AUT', 2000): nan,
 ('AUT', 2001): nan,
 ('AUT', 2002): nan,
 ('AUT', 2003): nan,
 ('AUT', 2004): nan,
 ('AUT', 2005): nan,
 ('AUT', 2006): nan,
 ('AUT', 2007): nan,
 ('AUT', 2008): nan,
 ('AUT', 2009): nan,
 ('AUT', 2010): nan,
 ('AUT', 2011): nan,
 ('AUT', 2012): nan,
 ('AUT', 2013): nan,
 ('AUT', 2014): nan,
 ('AUT', 2015): nan,
 ('AUT', 2016): nan,
 ('AUT', 2017): nan,
 ('AUT', 2018): nan,
 ('AUT', 2019): nan,
 ('AZE', 1990): nan,
 ('AZE', 1991): nan,
 ('AZE', 1992): nan,
 ('AZE', 1993): nan,
 ('AZE', 1994): nan,
 ('AZE', 1995): nan,
 ('AZE', 1996): nan,
 ('AZE', 1997): nan,
 ('AZE', 1998): nan,
 ('AZE', 1999): nan,
 ('AZE', 2000): nan,
 ('AZE', 2001): nan,
 ('AZE', 2002): nan,
 ('AZE', 2003): nan,
 ('AZE', 2004): nan,
 ('AZE', 2005): nan,
 ('AZE', 2006): nan,
 ('AZE', 2007): nan,
 ('AZE', 2008): nan,
 ('AZE', 2009): nan,
 ('AZE', 2010): nan,
 ('AZE', 2011): nan,
 ('AZE', 2012): nan,
 ('AZE', 2013): nan,
 ('AZE', 2014): nan,
 ('AZE', 2015): nan,
 ('AZE', 2016): nan,
 ('AZE', 2017): nan,
 ('AZE', 2018): nan,
 ('AZE', 2019): nan,
 ('BHS', 1990): nan,
 ('BHS', 1991): nan,
 ('BHS', 1992): nan,
 ('BHS', 1993): nan,
 ('BHS', 1994): nan,
 ('BHS', 1995): nan,
 ('BHS', 1996): nan,
 ('BHS', 1997): nan,
 ('BHS', 1998): nan,
 ('BHS', 1999): nan,
 ('BHS', 2000): nan,
 ('BHS', 2001): nan,
 ('BHS', 2002): nan,
 ('BHS', 2003): nan,
 ('BHS', 2004): nan,
 ('BHS', 2005): nan,
 ('BHS', 2006): nan,
 ('BHS', 2007): nan,
 ('BHS', 2008): nan,
 ('BHS', 2009): nan,
 ('BHS', 2010): nan,
 ('BHS', 2011): nan,
 ('BHS', 2012): nan,
 ('BHS', 2013): nan,
 ('BHS', 2014): nan,
 ('BHS', 2015): nan,
 ('BHS', 2016): nan,
 ('BHS', 2017): nan,
 ('BHS', 2018): nan,
 ('BHS', 2019): nan,
 ('BHR', 2007): 0.0,
 ('BHR', 2008): 1.0,
 ('BHR', 2009): 0.0,
 ('BHR', 2010): 1.0,
 ('BHR', 1990): nan,
 ('BHR', 1991): nan,
 ('BHR', 1992): nan,
 ('BHR', 1993): nan,
 ('BHR', 1994): nan,
 ('BHR', 1995): nan,
 ('BHR', 1996): nan,
 ('BHR', 1997): nan,
 ('BHR', 1998): nan,
 ('BHR', 1999): nan,
 ('BHR', 2000): nan,
 ('BHR', 2001): nan,
 ('BHR', 2002): nan,
 ('BHR', 2003): nan,
 ('BHR', 2004): nan,
 ('BHR', 2005): nan,
 ('BHR', 2006): nan,
 ('BHR', 2011): nan,
 ('BHR', 2012): nan,
 ('BHR', 2013): nan,
 ('BHR', 2014): nan,
 ('BHR', 2015): nan,
 ('BHR', 2016): nan,
 ('BHR', 2017): nan,
 ('BHR', 2018): nan,
 ('BHR', 2019): nan,
 ('BGD', 2007): 6.0,
 ('BGD', 2008): 5.0,
 ('BGD', 2009): 3.0,
 ('BGD', 2010): 9.0,
 ('BGD', 2011): 5.0,
 ('BGD', 2012): 1.0,
 ('BGD', 2013): 2.0,
 ('BGD', 2015): 4.0,
 ('BGD', 2016): 10.0,
 ('BGD', 1990): nan,
 ('BGD', 1991): nan,
 ('BGD', 1992): nan,
 ('BGD', 1993): nan,
 ('BGD', 1994): nan,
 ('BGD', 1995): nan,
 ('BGD', 1996): nan,
 ('BGD', 1997): nan,
 ('BGD', 1998): nan,
 ('BGD', 1999): nan,
 ('BGD', 2000): nan,
 ('BGD', 2001): nan,
 ('BGD', 2002): nan,
 ('BGD', 2003): nan,
 ('BGD', 2004): nan,
 ('BGD', 2005): nan,
 ('BGD', 2006): nan,
 ('BGD', 2014): nan,
 ('BGD', 2017): nan,
 ('BGD', 2018): nan,
 ('BGD', 2019): nan,
 ('BRB', 1990): nan,
 ('BRB', 1991): nan,
 ('BRB', 1992): nan,
 ('BRB', 1993): nan,
 ('BRB', 1994): nan,
 ('BRB', 1995): nan,
 ('BRB', 1996): nan,
 ('BRB', 1997): nan,
 ('BRB', 1998): nan,
 ('BRB', 1999): nan,
 ('BRB', 2000): nan,
 ('BRB', 2001): nan,
 ('BRB', 2002): nan,
 ('BRB', 2003): nan,
 ('BRB', 2004): nan,
 ('BRB', 2005): nan,
 ('BRB', 2006): nan,
 ('BRB', 2007): nan,
 ('BRB', 2008): nan,
 ('BRB', 2009): nan,
 ('BRB', 2010): nan,
 ('BRB', 2011): nan,
 ('BRB', 2012): nan,
 ('BRB', 2013): nan,
 ('BRB', 2014): nan,
 ('BRB', 2015): nan,
 ('BRB', 2016): nan,
 ('BRB', 2017): nan,
 ('BRB', 2018): nan,
 ('BRB', 2019): nan,
 ('BLR', 2007): 1.0,
 ('BLR', 2008): 4.0,
 ('BLR', 2009): 0.0,
 ('BLR', 2010): 2.0,
 ('BLR', 2011): 2.0,
 ('BLR', 2012): 3.0,
 ('BLR', 2014): 3.0,
 ('BLR', 2016): 4.0,
 ('BLR', 1990): nan,
 ('BLR', 1991): nan,
 ('BLR', 1992): nan,
 ('BLR', 1993): nan,
 ('BLR', 1994): nan,
 ('BLR', 1995): nan,
 ('BLR', 1996): nan,
 ('BLR', 1997): nan,
 ('BLR', 1998): nan,
 ('BLR', 1999): nan,
 ('BLR', 2000): nan,
 ('BLR', 2001): nan,
 ('BLR', 2002): nan,
 ('BLR', 2003): nan,
 ('BLR', 2004): nan,
 ('BLR', 2005): nan,
 ('BLR', 2006): nan,
 ('BLR', 2013): nan,
 ('BLR', 2015): nan,
 ('BLR', 2017): nan,
 ('BLR', 2018): nan,
 ('BLR', 2019): nan,
 ('BEL', 1990): nan,
 ('BEL', 1991): nan,
 ('BEL', 1992): nan,
 ('BEL', 1993): nan,
 ('BEL', 1994): nan,
 ('BEL', 1995): nan,
 ('BEL', 1996): nan,
 ('BEL', 1997): nan,
 ('BEL', 1998): nan,
 ('BEL', 1999): nan,
 ('BEL', 2000): nan,
 ('BEL', 2001): nan,
 ('BEL', 2002): nan,
 ('BEL', 2003): nan,
 ('BEL', 2004): nan,
 ('BEL', 2005): nan,
 ('BEL', 2006): nan,
 ('BEL', 2007): nan,
 ('BEL', 2008): nan,
 ('BEL', 2009): nan,
 ('BEL', 2010): nan,
 ('BEL', 2011): nan,
 ('BEL', 2012): nan,
 ('BEL', 2013): nan,
 ('BEL', 2014): nan,
 ('BEL', 2015): nan,
 ('BEL', 2016): nan,
 ('BEL', 2017): nan,
 ('BEL', 2018): nan,
 ('BEL', 2019): nan,
 ('BLZ', 1990): nan,
 ('BLZ', 1991): nan,
 ('BLZ', 1992): nan,
 ('BLZ', 1993): nan,
 ('BLZ', 1994): nan,
 ('BLZ', 1995): nan,
 ('BLZ', 1996): nan,
 ('BLZ', 1997): nan,
 ('BLZ', 1998): nan,
 ('BLZ', 1999): nan,
 ('BLZ', 2000): nan,
 ('BLZ', 2001): nan,
 ('BLZ', 2002): nan,
 ('BLZ', 2003): nan,
 ('BLZ', 2004): nan,
 ('BLZ', 2005): nan,
 ('BLZ', 2006): nan,
 ('BLZ', 2007): nan,
 ('BLZ', 2008): nan,
 ('BLZ', 2009): nan,
 ('BLZ', 2010): nan,
 ('BLZ', 2011): nan,
 ('BLZ', 2012): nan,
 ('BLZ', 2013): nan,
 ('BLZ', 2014): nan,
 ('BLZ', 2015): nan,
 ('BLZ', 2016): nan,
 ('BLZ', 2017): nan,
 ('BLZ', 2018): nan,
 ('BLZ', 2019): nan,
 ('BEN', 1990): nan,
 ('BEN', 1991): nan,
 ('BEN', 1992): nan,
 ('BEN', 1993): nan,
 ('BEN', 1994): nan,
 ('BEN', 1995): nan,
 ('BEN', 1996): nan,
 ('BEN', 1997): nan,
 ('BEN', 1998): nan,
 ('BEN', 1999): nan,
 ('BEN', 2000): nan,
 ('BEN', 2001): nan,
 ('BEN', 2002): nan,
 ('BEN', 2003): nan,
 ('BEN', 2004): nan,
 ('BEN', 2005): nan,
 ('BEN', 2006): nan,
 ('BEN', 2007): nan,
 ('BEN', 2008): nan,
 ('BEN', 2009): nan,
 ('BEN', 2010): nan,
 ('BEN', 2011): nan,
 ('BEN', 2012): nan,
 ('BEN', 2013): nan,
 ('BEN', 2014): nan,
 ('BEN', 2015): nan,
 ('BEN', 2016): nan,
 ('BEN', 2017): nan,
 ('BEN', 2018): nan,
 ('BEN', 2019): nan,
 ('BMU', 1990): nan,
 ('BMU', 1991): nan,
 ('BMU', 1992): nan,
 ('BMU', 1993): nan,
 ('BMU', 1994): nan,
 ('BMU', 1995): nan,
 ('BMU', 1996): nan,
 ('BMU', 1997): nan,
 ('BMU', 1998): nan,
 ('BMU', 1999): nan,
 ('BMU', 2000): nan,
 ('BMU', 2001): nan,
 ('BMU', 2002): nan,
 ('BMU', 2003): nan,
 ('BMU', 2004): nan,
 ('BMU', 2005): nan,
 ('BMU', 2006): nan,
 ('BMU', 2007): nan,
 ('BMU', 2008): nan,
 ('BMU', 2009): nan,
 ('BMU', 2010): nan,
 ('BMU', 2011): nan,
 ('BMU', 2012): nan,
 ('BMU', 2013): nan,
 ('BMU', 2014): nan,
 ('BMU', 2015): nan,
 ('BMU', 2016): nan,
 ('BMU', 2017): nan,
 ('BMU', 2018): nan,
 ('BMU', 2019): nan,
 ('BTN', 1990): nan,
 ('BTN', 1991): nan,
 ('BTN', 1992): nan,
 ('BTN', 1993): nan,
 ('BTN', 1994): nan,
 ('BTN', 1995): nan,
 ('BTN', 1996): nan,
 ('BTN', 1997): nan,
 ('BTN', 1998): nan,
 ('BTN', 1999): nan,
 ('BTN', 2000): nan,
 ('BTN', 2001): nan,
 ('BTN', 2002): nan,
 ('BTN', 2003): nan,
 ('BTN', 2004): nan,
 ('BTN', 2005): nan,
 ('BTN', 2006): nan,
 ('BTN', 2007): nan,
 ('BTN', 2008): nan,
 ('BTN', 2009): nan,
 ('BTN', 2010): nan,
 ('BTN', 2011): nan,
 ('BTN', 2012): nan,
 ('BTN', 2013): nan,
 ('BTN', 2014): nan,
 ('BTN', 2015): nan,
 ('BTN', 2016): nan,
 ('BTN', 2017): nan,
 ('BTN', 2018): nan,
 ('BTN', 2019): nan,
 ('BOL', 1990): nan,
 ('BOL', 1991): nan,
 ('BOL', 1992): nan,
 ('BOL', 1993): nan,
 ('BOL', 1994): nan,
 ('BOL', 1995): nan,
 ('BOL', 1996): nan,
 ('BOL', 1997): nan,
 ('BOL', 1998): nan,
 ('BOL', 1999): nan,
 ('BOL', 2000): nan,
 ('BOL', 2001): nan,
 ('BOL', 2002): nan,
 ('BOL', 2003): nan,
 ('BOL', 2004): nan,
 ('BOL', 2005): nan,
 ('BOL', 2006): nan,
 ('BOL', 2007): nan,
 ('BOL', 2008): nan,
 ('BOL', 2009): nan,
 ('BOL', 2010): nan,
 ('BOL', 2011): nan,
 ('BOL', 2012): nan,
 ('BOL', 2013): nan,
 ('BOL', 2014): nan,
 ('BOL', 2015): nan,
 ('BOL', 2016): nan,
 ('BOL', 2017): nan,
 ('BOL', 2018): nan,
 ('BOL', 2019): nan,
 ('BIH', 1990): nan,
 ('BIH', 1991): nan,
 ('BIH', 1992): nan,
 ('BIH', 1993): nan,
 ('BIH', 1994): nan,
 ('BIH', 1995): nan,
 ('BIH', 1996): nan,
 ('BIH', 1997): nan,
 ('BIH', 1998): nan,
 ('BIH', 1999): nan,
 ('BIH', 2000): nan,
 ('BIH', 2001): nan,
 ('BIH', 2002): nan,
 ('BIH', 2003): nan,
 ('BIH', 2004): nan,
 ('BIH', 2005): nan,
 ('BIH', 2006): nan,
 ('BIH', 2007): nan,
 ('BIH', 2008): nan,
 ('BIH', 2009): nan,
 ('BIH', 2010): nan,
 ('BIH', 2011): nan,
 ('BIH', 2012): nan,
 ('BIH', 2013): nan,
 ('BIH', 2014): nan,
 ('BIH', 2015): nan,
 ('BIH', 2016): nan,
 ('BIH', 2017): nan,
 ('BIH', 2018): nan,
 ('BIH', 2019): nan,
 ('BWA', 2007): 1.0,
 ('BWA', 2008): 1.0,
 ('BWA', 2009): 1.0,
 ('BWA', 2010): 1.0,
 ('BWA', 2012): 2.0,
 ('BWA', 2013): 1.0,
 ('BWA', 2016): 1.0,
 ('BWA', 1990): nan,
 ('BWA', 1991): nan,
 ('BWA', 1992): nan,
 ('BWA', 1993): nan,
 ('BWA', 1994): nan,
 ('BWA', 1995): nan,
 ('BWA', 1996): nan,
 ('BWA', 1997): nan,
 ('BWA', 1998): nan,
 ('BWA', 1999): nan,
 ('BWA', 2000): nan,
 ('BWA', 2001): nan,
 ('BWA', 2002): nan,
 ('BWA', 2003): nan,
 ('BWA', 2004): nan,
 ('BWA', 2005): nan,
 ('BWA', 2006): nan,
 ('BWA', 2011): nan,
 ('BWA', 2014): nan,
 ('BWA', 2015): nan,
 ('BWA', 2017): nan,
 ('BWA', 2018): nan,
 ('BWA', 2019): nan,
 ('BRA', 1990): nan,
 ('BRA', 1991): nan,
 ('BRA', 1992): nan,
 ('BRA', 1993): nan,
 ('BRA', 1994): nan,
 ('BRA', 1995): nan,
 ('BRA', 1996): nan,
 ('BRA', 1997): nan,
 ('BRA', 1998): nan,
 ('BRA', 1999): nan,
 ('BRA', 2000): nan,
 ('BRA', 2001): nan,
 ('BRA', 2002): nan,
 ('BRA', 2003): nan,
 ('BRA', 2004): nan,
 ('BRA', 2005): nan,
 ('BRA', 2006): nan,
 ('BRA', 2007): nan,
 ('BRA', 2008): nan,
 ('BRA', 2009): nan,
 ('BRA', 2010): nan,
 ('BRA', 2011): nan,
 ('BRA', 2012): nan,
 ('BRA', 2013): nan,
 ('BRA', 2014): nan,
 ('BRA', 2015): nan,
 ('BRA', 2016): nan,
 ('BRA', 2017): nan,
 ('BRA', 2018): nan,
 ('BRA', 2019): nan,
 ('BRN', 1990): nan,
 ('BRN', 1991): nan,
 ('BRN', 1992): nan,
 ('BRN', 1993): nan,
 ('BRN', 1994): nan,
 ('BRN', 1995): nan,
 ('BRN', 1996): nan,
 ('BRN', 1997): nan,
 ('BRN', 1998): nan,
 ('BRN', 1999): nan,
 ('BRN', 2000): nan,
 ('BRN', 2001): nan,
 ('BRN', 2002): nan,
 ('BRN', 2003): nan,
 ('BRN', 2004): nan,
 ('BRN', 2005): nan,
 ('BRN', 2006): nan,
 ('BRN', 2007): nan,
 ('BRN', 2008): nan,
 ('BRN', 2009): nan,
 ('BRN', 2010): nan,
 ('BRN', 2011): nan,
 ('BRN', 2012): nan,
 ('BRN', 2013): nan,
 ('BRN', 2014): nan,
 ('BRN', 2015): nan,
 ('BRN', 2016): nan,
 ('BRN', 2017): nan,
 ('BRN', 2018): nan,
 ('BRN', 2019): nan,
 ('BGR', 1990): nan,
 ('BGR', 1991): nan,
 ('BGR', 1992): nan,
 ('BGR', 1993): nan,
 ('BGR', 1994): nan,
 ('BGR', 1995): nan,
 ('BGR', 1996): nan,
 ('BGR', 1997): nan,
 ('BGR', 1998): nan,
 ('BGR', 1999): nan,
 ('BGR', 2000): nan,
 ('BGR', 2001): nan,
 ('BGR', 2002): nan,
 ('BGR', 2003): nan,
 ('BGR', 2004): nan,
 ('BGR', 2005): nan,
 ('BGR', 2006): nan,
 ('BGR', 2007): nan,
 ('BGR', 2008): nan,
 ('BGR', 2009): nan,
 ('BGR', 2010): nan,
 ('BGR', 2011): nan,
 ('BGR', 2012): nan,
 ('BGR', 2013): nan,
 ('BGR', 2014): nan,
 ('BGR', 2015): nan,
 ('BGR', 2016): nan,
 ('BGR', 2017): nan,
 ('BGR', 2018): nan,
 ('BGR', 2019): nan,
 ('BFA', 1990): nan,
 ('BFA', 1991): nan,
 ('BFA', 1992): nan,
 ('BFA', 1993): nan,
 ('BFA', 1994): nan,
 ('BFA', 1995): nan,
 ('BFA', 1996): nan,
 ('BFA', 1997): nan,
 ('BFA', 1998): nan,
 ('BFA', 1999): nan,
 ('BFA', 2000): nan,
 ('BFA', 2001): nan,
 ('BFA', 2002): nan,
 ('BFA', 2003): nan,
 ('BFA', 2004): nan,
 ('BFA', 2005): nan,
 ('BFA', 2006): nan,
 ('BFA', 2007): nan,
 ('BFA', 2008): nan,
 ('BFA', 2009): nan,
 ('BFA', 2010): nan,
 ('BFA', 2011): nan,
 ('BFA', 2012): nan,
 ('BFA', 2013): nan,
 ('BFA', 2014): nan,
 ('BFA', 2015): nan,
 ('BFA', 2016): nan,
 ('BFA', 2017): nan,
 ('BFA', 2018): nan,
 ('BFA', 2019): nan,
 ('BDI', 1990): nan,
 ('BDI', 1991): nan,
 ('BDI', 1992): nan,
 ('BDI', 1993): nan,
 ('BDI', 1994): nan,
 ('BDI', 1995): nan,
 ('BDI', 1996): nan,
 ('BDI', 1997): nan,
 ('BDI', 1998): nan,
 ('BDI', 1999): nan,
 ('BDI', 2000): nan,
 ('BDI', 2001): nan,
 ('BDI', 2002): nan,
 ('BDI', 2003): nan,
 ('BDI', 2004): nan,
 ('BDI', 2005): nan,
 ('BDI', 2006): nan,
 ('BDI', 2007): nan,
 ('BDI', 2008): nan,
 ('BDI', 2009): nan,
 ('BDI', 2010): nan,
 ('BDI', 2011): nan,
 ('BDI', 2012): nan,
 ('BDI', 2013): nan,
 ('BDI', 2014): nan,
 ('BDI', 2015): nan,
 ('BDI', 2016): nan,
 ('BDI', 2017): nan,
 ('BDI', 2018): nan,
 ('BDI', 2019): nan,
 ('KHM', 1990): nan,
 ('KHM', 1991): nan,
 ('KHM', 1992): nan,
 ('KHM', 1993): nan,
 ('KHM', 1994): nan,
 ('KHM', 1995): nan,
 ('KHM', 1996): nan,
 ('KHM', 1997): nan,
 ('KHM', 1998): nan,
 ('KHM', 1999): nan,
 ('KHM', 2000): nan,
 ('KHM', 2001): nan,
 ('KHM', 2002): nan,
 ('KHM', 2003): nan,
 ('KHM', 2004): nan,
 ('KHM', 2005): nan,
 ('KHM', 2006): nan,
 ('KHM', 2007): nan,
 ('KHM', 2008): nan,
 ('KHM', 2009): nan,
 ('KHM', 2010): nan,
 ('KHM', 2011): nan,
 ('KHM', 2012): nan,
 ('KHM', 2013): nan,
 ('KHM', 2014): nan,

In [105]:
summary_df['Death Numbers'].nunique()

25183

In [93]:
keys = [summary_df[['Code' , 'Year']]]
values = summary_df['Death Numbers']
perc_death_map = dict(zip(keys, values))
perc_death_map

TypeError: unhashable type: 'DataFrame'

In [87]:
deaths = summary_df[['Code' , 'Year'], 'Death Numbers', 'Causes name']].groupby(['Code', 'Year']).count('Causes name')
deaths.head(5)

TypeError: GroupBy.count() takes 1 positional argument but 2 were given

In [85]:
deaths.transform(dict)

                                            Death Numbers
0       {0: 2933.0, 1: 15925.0, 2: 481.0, 3: 393.0, 4:...
1       {0: 2933.0, 1: 15925.0, 2: 481.0, 3: 393.0, 4:...
2       {0: 2933.0, 1: 15925.0, 2: 481.0, 3: 393.0, 4:...
3       {0: 2933.0, 1: 15925.0, 2: 481.0, 3: 393.0, 4:...
4       {0: 2933.0, 1: 15925.0, 2: 481.0, 3: 393.0, 4:...
...                                                   ...
201757  {201729: 1450.0, 201730: 12353.0, 201731: 662....
201758  {201729: 1450.0, 201730: 12353.0, 201731: 662....
201759  {201729: 1450.0, 201730: 12353.0, 201731: 662....
201760  {201729: 1450.0, 201730: 12353.0, 201731: 662....
201761  {201729: 1450.0, 201730: 12353.0, 201731: 662....

[201762 rows x 1 columns]

##### SAVE:

In [50]:
summary_df.to_csv('../data/Tableau_Tables/T1 Summary.csv', index=False)

----

<a name="table-2-global-totals-:"/>

#### TABLE 2 Global Totals:

In [51]:
globe_df = pd.read_csv('../data/W4P3_ND.csv')
globe_df.head(5)

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [52]:
print(len(globe_df.columns))
globe_df.columns

36

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)',
       'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)',
       'Deaths - Malaria - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drowning - Sex: Both - Age: All Ages (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)',
       'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)',
       'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)',
       'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)',
       'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)',
       'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)',
       'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)',
       'Terrorism (deaths)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)',
       'Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)',
       'Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)'],
      dtype='object')

In [53]:
globe_df = globe_df.rename(columns={
    'Deaths - Meningitis - Sex: Both - Age: All Ages (Number)': 'Meningitis'
  , 'Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)': 'Neoplasms'
  , 'Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)': 'Fire, heat, and hot substances'
  , 'Deaths - Malaria - Sex: Both - Age: All Ages (Number)': 'Malaria'
  , 'Deaths - Drowning - Sex: Both - Age: All Ages (Number)': 'Drowning'
  , 'Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)': 'Interpersonal violence'
  , 'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)': 'HIV/AIDS'
  , 'Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)': 'Drug use disorders'
  , 'Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)': 'Tuberculosis'
  , 'Deaths - Road injuries - Sex: Both - Age: All Ages (Number)': 'Road injuries'
  , 'Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)': 'Maternal disorders'
  , 'Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)': 'Lower respiratory infections'
  , 'Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)': 'Neonatal disorders'
  , 'Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)': 'Alcohol use disorders'
  , 'Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)': 'Exposure to forces of nature'
  , 'Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)': 'Diarrheal diseases'
  , 'Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)': 'Environmental heat and cold exposure'
  , 'Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)': 'Nutritional deficiencies'
  , 'Deaths - Self-harm - Sex: Both - Age: All Ages (Number)': 'Self-harm'
  , 'Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)': 'Conflict and terrorism'
  , 'Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)': 'Diabetes mellitus'
  , 'Deaths - Poisonings - Sex: Both - Age: All Ages (Number)': 'Poisonings'
  , 'Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)': 'Protein-energy malnutrition'
  , 'Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)': 'Cardiovascular diseases'
  , 'Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)': 'Chronic kidney disease'
  , 'Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)': 'Chronic respiratory diseases'
  , 'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)': 'Cirrhosis and other chronic liver diseases'
  , 'Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)': 'Digestive diseases'
  , 'Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)': 'Acute hepatitis'
  , 'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: All Ages (Number)': 'Alzheimer\'s disease and other dementias'
  , 'Deaths - Parkinson\'s disease - Sex: Both - Age: All Ages (Number)': 'Parkinson\'s disease'
  , 'Number of executions (Amnesty International)': 'Executions'
  , 'Terrorism (deaths)': 'Terrorism'
})
globe_df.head()

,Entity,Code,Year,Executions,Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Protein-energy malnutrition,Terrorism,Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [54]:
globe_df.shape

(8254, 36)

##### SAVE:

In [55]:
globe_df.to_csv('../data/Tableau_Tables/T2 Globe Totals.csv', index=False)

----

<a name="table-3-age-groups-:"/>

#### TABLE 3 Age Groups:

In [56]:
age_grp_df = pd.read_csv('../data/nd-age-group.csv')
age_grp_df.head(5)

,Entity,Code,Year,Deaths - All causes - Sex: Both - Age: 70+ years (Number),Deaths - All causes - Sex: Both - Age: 50-69 years (Number),Deaths - All causes - Sex: Both - Age: 15-49 years (Number),Deaths - All causes - Sex: Both - Age: 5-14 years (Number),Deaths - All causes - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,34681,40624,22968,5642,78170
1,Afghanistan,AFG,1991,35271,41414,26523,6433,83035
2,Afghanistan,AFG,1992,35694,41829,30000,6854,93859
3,Afghanistan,AFG,1993,36433,42598,32339,7206,106537
4,Afghanistan,AFG,1994,37460,43923,36817,8106,115334

In [57]:
age_grp_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - All causes - Sex: Both - Age: 70+ years (Number)',
       'Deaths - All causes - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - All causes - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - All causes - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - All causes - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [58]:
# Rename Headings:
age_grp_df = age_grp_df.rename(columns={
       'Deaths - All causes - Sex: Both - Age: 70+ years (Number)': '70+ years',
       'Deaths - All causes - Sex: Both - Age: 50-69 years (Number)': '50-69 years',
       'Deaths - All causes - Sex: Both - Age: 15-49 years (Number)': '15-49 years',
       'Deaths - All causes - Sex: Both - Age: 5-14 years (Number)': '5-14 years',
       'Deaths - All causes - Sex: Both - Age: Under 5 (Number)': '0-5 years'})
age_grp_df.head(5)

,Entity,Code,Year,70+ years,50-69 years,15-49 years,5-14 years,0-5 years
0,Afghanistan,AFG,1990,34681,40624,22968,5642,78170
1,Afghanistan,AFG,1991,35271,41414,26523,6433,83035
2,Afghanistan,AFG,1992,35694,41829,30000,6854,93859
3,Afghanistan,AFG,1993,36433,42598,32339,7206,106537
4,Afghanistan,AFG,1994,37460,43923,36817,8106,115334

In [59]:
age_grp_df.shape

(6840, 8)

##### SAVE:

In [60]:
age_grp_df.to_csv('../data/Tableau_Tables/T3 Age Groups.csv', index=False)

----

<a name="table-4-ages-0-4-:"/>

#### TABLE 4 Ages 0-4:

In [61]:
yr0_4_df = pd.read_csv('../data/nd-0-4-year-olds.csv')
yr0_4_df.head(5)

,Entity,Code,Year,Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number),Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number),Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number),Deaths - Measles - Sex: Both - Age: Under 5 (Number),Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number),...,Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number),Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number),Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)",Deaths - Road injuries - Sex: Both - Age: Under 5 (Number),Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - Drowning - Sex: Both - Age: Under 5 (Number),Deaths - Malaria - Sex: Both - Age: Under 5 (Number),Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,Afghanistan,AFG,1991,55,130,1822,741,439,8669,495,...,7574,2385,4650,129,781,800,12,748,41,132
2,Afghanistan,AFG,1992,68,155,2069,836,486,8539,554,...,8614,2370,5833,137,821,863,13,777,51,180
3,Afghanistan,AFG,1993,78,178,2427,970,549,8949,630,...,9458,2659,7800,155,923,979,16,872,24,239
4,Afghanistan,AFG,1994,83,194,2649,1063,589,10642,681,...,9823,3187,7894,170,1015,1064,19,961,52,259

In [62]:
yr0_4_df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Measles - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)',
       'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)',
       'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [63]:
yr0_4_df = yr0_4_df.rename(columns = {
      'Deaths - Invasive Non-typhoidal Salmonella (iNTS) - Sex: Both - Age: Under 5 (Number)': 'Invasive Non-typhoidal Salmonella (iNTS)'
    , 'Deaths - Interpersonal violence - Sex: Both - Age: Under 5 (Number)': 'Interpersonal violence'
    , 'Deaths - Nutritional deficiencies - Sex: Both - Age: Under 5 (Number)': 'Nutritional deficiencies'
    , 'Deaths - Acute hepatitis - Sex: Both - Age: Under 5 (Number)': 'Acute hepatitis'
    , 'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)': 'Neoplasms'
    , 'Deaths - Measles - Sex: Both - Age: Under 5 (Number)': 'Measles'
    , 'Deaths - Digestive diseases - Sex: Both - Age: Under 5 (Number)': 'Digestive diseases'
    , 'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: Under 5 (Number)': 'Cirrhosis and other chronic liver diseases'
    , 'Deaths - Chronic kidney disease - Sex: Both - Age: Under 5 (Number)': 'Chronic kidney disease'
    , 'Deaths - Cardiovascular diseases - Sex: Both - Age: Under 5 (Number)': 'Cardiovascular diseases'
    , 'Deaths - Congenital birth defects - Sex: Both - Age: Under 5 (Number)': 'Congenital birth defects'
    , 'Deaths - Lower respiratory infections - Sex: Both - Age: Under 5 (Number)': 'Lower respiratory infections'
    , 'Deaths - Neonatal preterm birth - Sex: Both - Age: Under 5 (Number)': 'Neonatal preterm birth'
    , 'Deaths - Environmental heat and cold exposure - Sex: Both - Age: Under 5 (Number)': 'Environmental heat and cold exposure'
    , 'Deaths - Neonatal sepsis and other neonatal infections - Sex: Both - Age: Under 5 (Number)': 'Neonatal sepsis and other neonatal infections'
    , 'Deaths - Exposure to forces of nature - Sex: Both - Age: Under 5 (Number)': 'Exposure to forces of nature'
    , 'Deaths - Diabetes mellitus - Sex: Both - Age: Under 5 (Number)': 'Diabetes mellitus'
    , 'Deaths - Neonatal encephalopathy due to birth asphyxia and trauma - Sex: Both - Age: Under 5 (Number)': 'Neonatal encephalopathy due to birth asphyxia and trauma'
    , 'Deaths - Meningitis - Sex: Both - Age: Under 5 (Number)': 'Meningitis'
    , 'Deaths - Other neonatal disorders - Sex: Both - Age: Under 5 (Number)': 'Other neonatal disorders'
    , 'Deaths - Whooping cough - Sex: Both - Age: Under 5 (Number)': 'Whooping cough'
    , 'Deaths - Diarrheal diseases - Sex: Both - Age: Under 5 (Number)': 'Diarrheal diseases'
    , 'Deaths - Fire, heat, and hot substances - Sex: Both - Age: Under 5 (Number)': 'Fire, heat, and hot substances'
    , 'Deaths - Road injuries - Sex: Both - Age: Under 5 (Number)': 'Road injuries'
    , 'Deaths - Tuberculosis - Sex: Both - Age: Under 5 (Number)': 'Tuberculosis'
    , 'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)': 'HIV/AIDS'
    , 'Deaths - Drowning - Sex: Both - Age: Under 5 (Number)': 'Drowning'
    , 'Deaths - Malaria - Sex: Both - Age: Under 5 (Number)': 'Malaria'
    , 'Deaths - Syphilis - Sex: Both - Age: Under 5 (Number)': 'Syphilis'
})
yr0_4_df.head()

,Entity,Code,Year,Invasive Non-typhoidal Salmonella (iNTS),Interpersonal violence,Nutritional deficiencies,Acute hepatitis,Neoplasms,Measles,Digestive diseases,...,Other neonatal disorders,Whooping cough,Diarrheal diseases,"Fire, heat, and hot substances",Road injuries,Tuberculosis,HIV/AIDS,Drowning,Malaria,Syphilis
0,Afghanistan,AFG,1990,48,105,1779,718,431,8649,477,...,7112,2455,3968,131,802,808,10,776,21,123
1,Afghanistan,AFG,1991,55,130,1822,741,439,8669,495,...,7574,2385,4650,129,781,800,12,748,41,132
2,Afghanistan,AFG,1992,68,155,2069,836,486,8539,554,...,8614,2370,5833,137,821,863,13,777,51,180
3,Afghanistan,AFG,1993,78,178,2427,970,549,8949,630,...,9458,2659,7800,155,923,979,16,872,24,239
4,Afghanistan,AFG,1994,83,194,2649,1063,589,10642,681,...,9823,3187,7894,170,1015,1064,19,961,52,259

In [64]:
yr0_4_df.shape

(6840, 32)

In [65]:
yr0_4_df.isnull().sum()

Entity                                                        0
Code                                                        690
Year                                                          0
Invasive Non-typhoidal Salmonella (iNTS)                      0
Interpersonal violence                                        0
Nutritional deficiencies                                      0
Acute hepatitis                                               0
Neoplasms                                                     0
Measles                                                       0
Digestive diseases                                            0
Cirrhosis and other chronic liver diseases                    0
Chronic kidney disease                                        0
Cardiovascular diseases                                       0
Congenital birth defects                                      0
Lower respiratory infections                                  0
Neonatal preterm birth                                        0
Environmental heat and cold exposure                          0
Neonatal sepsis and other neonatal infections                 0
Exposure to forces of nature                                  0
Diabetes mellitus                                             0
Neonatal encephalopathy due to birth asphyxia and trauma      0
Meningitis                                                    0
Other neonatal disorders                                      0
Whooping cough                                                0
Diarrheal diseases                                            0
Fire, heat, and hot substances                                0
Road injuries                                                 0
Tuberculosis                                                  0
HIV/AIDS                                                      0
Drowning                                                      0
Malaria                                                       0
Syphilis                                                      0
dtype: int64

##### SAVE:

In [66]:
yr0_4_df.to_csv('data/Tableau_Tables/T4 Ages 0-4.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'data/Tableau_Tables'

----

<a name="table-5-ages-5-14:"/>

#### TABLE 5 Ages 5-14:

In [ ]:
yr5_14_df = pd.read_csv('data/nd-5-14-year-olds.csv')
yr5_14_df.head(5)

In [ ]:
yr5_14_df.columns

In [ ]:
# Rename Headings:
yr5_14_df = yr5_14_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 15-49 years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 15-49 years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 15-49 years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 15-49 years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 15-49 years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 15-49 years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 15-49 years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 15-49 years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 15-49 years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 15-49 years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 15-49 years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 15-49 years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)': 'Acute hepatitis'})
yr5_14_df.head()

##### SAVE:

In [ ]:
yr5_14_df.to_csv('data/Tableau_Tables/T5 Ages 5-14.csv', index=False)

----

<a name="table-6-ages-15-49:"/>

#### TABLE 6 Ages 15-49:

In [ ]:
yr15_49_df = pd.read_csv('data/nd-15-49-year-olds.csv')
yr15_49_df.head(5)

In [ ]:
yr15_49_df.columns

In [ ]:
# Rename Headings:
yr15_49_df = yr15_49_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 15-49 years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 15-49 years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 15-49 years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 15-49 years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 15-49 years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 15-49 years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 15-49 years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 15-49 years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 15-49 years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 15-49 years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 15-49 years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 15-49 years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 15-49 years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 15-49 years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 15-49 years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 15-49 years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 15-49 years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 15-49 years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 15-49 years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 15-49 years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 15-49 years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 15-49 years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 15-49 years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 15-49 years (Number)': 'Acute hepatitis'})
yr15_49_df.head()

##### SAVE:

In [ ]:
yr15_49_df.to_csv('data/Tableau_Tables/T6 Ages 15-49.csv', index=False)

----

<a name="table-7-ages-50-69:"/>

#### TABLE 7 Ages 50-69:

In [ ]:
yr50_69_df = pd.read_csv('data/nd-50-69-year-olds.csv')
yr50_69_df.head(5)

In [ ]:
yr50_69_df.columns

In [ ]:
# Rename Headings:
yr50_69_df = yr50_69_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 50-69 years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 50-69 years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 50-69 years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 50-69 years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 50-69 years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 50-69 years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 50-69 years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 50-69 years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 50-69 years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 50-69 years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 50-69 years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 50-69 years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 50-69 years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 50-69 years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 50-69 years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 50-69 years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 50-69 years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 50-69 years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 50-69 years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 50-69 years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 50-69 years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 50-69 years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 50-69 years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 50-69 years (Number)': 'Acute hepatitis'})
yr50_69_df.head()

##### SAVE:

In [ ]:
yr50_69_df.to_csv('data/Tableau_Tables/T7 Ages 50-69.csv', index=False)

----

<a name="table-8-ages-70+:"/>

#### TABLE 8 Ages 70+:

In [ ]:
yr70_up_df = pd.read_csv('data/nd-70-year-olds.csv')
yr70_up_df.head(5)

In [ ]:
# Preserve data in old headings:
yr70_up_df_columns = yr70_up_df.columns
yr70_up_df_columns

In [ ]:
# Rename Headings:
yr70_up_df = yr70_up_df.rename(columns = {
       'Deaths - Self-harm - Sex: Both - Age: 70+ years (Number)': 'Self-harm',
       'Deaths - Interpersonal violence - Sex: Both - Age: 70+ years (Number)': 'Interpersonal violence',
       'Deaths - Exposure to forces of nature - Sex: Both - Age: 70+ years (Number)': 'Exposure to forces of nature',
       'Deaths - Drowning - Sex: Both - Age: 70+ years (Number)': 'Drowning',
       'Deaths - Environmental heat and cold exposure - Sex: Both - Age: 70+ years (Number)': 'Environmental heat and cold exposure',
       'Deaths - Diarrheal diseases - Sex: Both - Age: 70+ years (Number)': 'Diarrheal diseases',
       'Deaths - Road injuries - Sex: Both - Age: 70+ years (Number)': 'Road injuries',
       'Deaths - Tuberculosis - Sex: Both - Age: 70+ years (Number)': 'Tuberculosis',
       'Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Number)': 'HIV/AIDS',
       'Deaths - Parkinson\'s disease - Sex: Both - Age: 70+ years (Number)': 'Parkinson\'s disease',
       'Deaths - Malaria - Sex: Both - Age: 70+ years (Number)': 'Malaria',
       'Deaths - Fire, heat, and hot substances - Sex: Both - Age: 70+ years (Number)': 'Fire, heat, and hot substances',
       'Deaths - Chronic kidney disease - Sex: Both - Age: 70+ years (Number)': 'Chronic kidney disease',
       'Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number)': 'Neoplasms',
       'Deaths - Digestive diseases - Sex: Both - Age: 70+ years (Number)': 'Digestive diseases',
       'Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: 70+ years (Number)': 'Cirrhosis and other chronic liver diseases',
       'Deaths - Chronic respiratory diseases - Sex: Both - Age: 70+ years (Number)': 'Chronic respiratory diseases',
       'Deaths - Alzheimer\'s disease and other dementias - Sex: Both - Age: 70+ years (Number)': 'Alzheimer\'s disease and other dementias',
       'Deaths - Cardiovascular diseases - Sex: Both - Age: 70+ years (Number)': 'Cardiovascular diseases',
       'Deaths - Nutritional deficiencies - Sex: Both - Age: 70+ years (Number)': 'Nutritional deficiencies',
       'Deaths - Drug use disorders - Sex: Both - Age: 70+ years (Number)': 'Drug use disorders',
       'Deaths - Alcohol use disorders - Sex: Both - Age: 70+ years (Number)': 'Alcohol use disorders',
       'Deaths - Lower respiratory infections - Sex: Both - Age: 70+ years (Number)': 'Lower respiratory infections',
       'Deaths - Diabetes mellitus - Sex: Both - Age: 70+ years (Number)': 'Diabetes mellitus',
       'Deaths - Protein-energy malnutrition - Sex: Both - Age: 70+ years (Number)': 'Protein-energy malnutrition',
       'Deaths - Acute hepatitis - Sex: Both - Age: 70+ years (Number)': 'Acute hepatitis'})
yr70_up_df.head()

>STRETCH: I might come back and organize the types of deaths later.

##### SAVE:

In [ ]:
yr70_up_df.to_csv('data/Tableau_Tables/T8 Ages 70+.csv', index=False)

----

<a name="table-9-risks:"/>

#### TABLE 9 Risks:

In [ ]:
risk_df = pd.read_csv('data/nd-risk-factor.csv')
risk_df.head(5)

In [ ]:
print(len(risk_df.columns))
risk_df.columns[15:]

In [ ]:
risk_df = risk_df.rename(columns = {
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)': 'Outdoor air pollution - OWID'
  , 'Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'High systolic blood pressure'
  , 'Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'Diet high in sodium'
  , 'Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)': 'Diet low in whole grains'
  , 'Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)': 'Alcohol use'
  , 'Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'Diet low in fruits'
  , 'Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)': 'Unsafe water source'
  , 'Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)': 'Secondhand smoke'
  , 'Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)': 'Low birth weight'
  , 'Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)': 'Child wasting'
  , 'Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)': 'Unsafe sex'
  , 'Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)': 'Diet low in nuts and seeds'
  , 'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'Household air pollution from solid fuels'
  , 'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)': 'Diet low in vegetables'
  , 'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)': 'Low physical activity'
  , 'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)': 'Smoking'
  , 'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'High fasting plasma glucose'
  , 'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)': 'Air pollution'
  , 'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)': 'High body-mass index'
  , 'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)': 'Unsafe sanitation'
  , 'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)': 'No access to handwashing facility'
  , 'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)': 'Drug use'
  , 'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)': 'Low bone mineral density'
  , 'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)': 'Vitamin A deficiency'
  , 'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)': 'Child stunting'
  , 'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)': 'Discontinued breastfeeding'
  , 'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'Non-exclusive breastfeeding'
  , 'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)': 'Iron deficiency'
})
risk_df.head()

##### SAVE:

In [ ]:
risk_df.to_csv('data/Tableau_Tables/T9 Risks.csv', index=False)

----